programing/_common/footer.html

<footer class="footer">
  <div class="footer__content">
    <div class="footer__top__box--logo-movil"><a href="#"><img src="./assets/img/img-logo-gp-footer.png" alt=""/></a></div>
    <div class="footer__top">
      <div class="footer__top__box footer__top__box--logo"><a href="#"><img src="./assets/img/img-logo-gp-footer.png" alt=""/></a></div>
      <div class="footer__top__box footer__top__box--mapa-de-sitio">
        <p>MAPA DE SITIO</p>
        <ul class="footer__top__box--enlaces">
          <li><a href="#">Promociones</a></li>
          <li><a href="#">Membresías</a></li>
          <li><a href="#">Internacional</a></li>
          <li><a href="#">Elite</a></li>
          <li><a href="#">Corporativo</a></li>
        </ul>
      </div>
      <div class="footer__top__box footer__top__box--usuarios">
        <p>USUARIOS</p>
        <ul class="footer__top__box--enlaces">
          <li><a href="#">Activa tu código</a></li>
          <li><a href="#">Iniciar sesión</a></li>
          <li><a href="#">Solicita tu membresía</a></li>
          <li><a href="#">Preguntas frecuentes</a></li>
          <li><a href="#">Términos y condiciones</a></li>
        </ul>
      </div>
      <div class="footer__top__box footer__top__box-content--enlaces">
        <p>ESTABLECIMIENTOS</p>
        <ul class="footer__top__box--enlaces">
          <li><a href="#">Consultar membresía</a></li>
          <li><a href="#">Afilia tu establecimiento</a></li>
          <li><a href="#">Inicia sesión como establecimiento</a></li>
        </ul>
      </div>
      <div class="footer__top__box footer__top__box-content--iconos">
        <ul class="footer__top__box--iconos">
          <li><a class="icon-05" href="#"></a></li>
          <li><a class="icon-04" href="#"></a></li>
          <li><a class="icon-03" href="#"></a></li>
        </ul>
        <div class="footer__top__box--telefono"><a>(511) 512 - 3100</a></div>
        <div class="footer__top__box--reclamaciones">
          <div class="footer__top__box--reclamaciones-img-libro"><a href="#"><img src="./assets/img/libro_reclamaciones.png" alt=""/></a></div>
          <div class="footer__top__box--reclamaciones-parrafo">
            <p><a class="footer__top__box--reclamaciones-enlace" href="#">Libro de reclamaciones</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__top__box-content--iconos-movil">
      <div class="footer__top__box--telefono"><a>(511) 512 - 3100</a></div>
      <div class="footer__top__box--reclamaciones">
        <div class="footer__top__box--reclamaciones-img-libro"><a href="#"><img src="./assets/img/libro_reclamaciones.png" alt=""/></a></div>
        <div class="footer__top__box--reclamaciones-parrafo">
          <p><a class="footer__top__box--reclamaciones-enlace" href="#">Libro de reclamaciones	</a></p>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom__box">
        <p>© 2017  GlobalPass. Todos los derechos reservados.</p>
      </div>
      <div class="footer__bottom__box">
        <p class="footer__bottom--firma-staff">Diseño de páginas web: <a href="https://www.staffdigital.pe/" target="_blank">Staff Digital</a></p>
      </div>
    </div>
  </div>
</footer>

src/pages/_common/footer.pug
footer.footer
	.footer__content
		.footer__top__box--logo-movil
			a(href='#')
					img(src=`${STATIC_URL}img/img-logo-gp-footer.png`, alt="")
		.footer__top
			.footer__top__box.footer__top__box--logo
				a(href='#')
					img(src=`${STATIC_URL}img/img-logo-gp-footer.png`, alt="")
			.footer__top__box.footer__top__box--mapa-de-sitio
				p
					| MAPA DE SITIO
				ul.footer__top__box--enlaces
					li
						a(href='#') Promociones
					li
						a(href='#') Membresías
					li
						a(href='#') Internacional
					li
						a(href='#') Elite
					li
						a(href='#') Corporativo
			.footer__top__box.footer__top__box--usuarios
				p
					| USUARIOS
				ul.footer__top__box--enlaces
					li
						a(href='#') Activa tu código
					li
						a(href='#') Iniciar sesión
					li
						a(href='#') Solicita tu membresía
					li
						a(href='#') Preguntas frecuentes
					li
						a(href='#') Términos y condiciones
			.footer__top__box.footer__top__box-content--enlaces
				p
					| ESTABLECIMIENTOS
				ul.footer__top__box--enlaces
					li
						a(href='#') Consultar membresía
					li
						a(href='#') Afilia tu establecimiento
					li
						a(href='#') Inicia sesión como establecimiento
			.footer__top__box.footer__top__box-content--iconos
				ul.footer__top__box--iconos
					li
							a(href='#').icon-05
					li
							a(href='#').icon-04
					li
							a(href='#').icon-03
				.footer__top__box--telefono
					a (511) 512 - 3100
				.footer__top__box--reclamaciones
					.footer__top__box--reclamaciones-img-libro
						a(href='#')
							img(src=`${STATIC_URL}img/libro_reclamaciones.png`, alt="")
					.footer__top__box--reclamaciones-parrafo
						p
							a.footer__top__box--reclamaciones-enlace(href='#') Libro de reclamaciones
		.footer__top__box-content--iconos-movil
			.footer__top__box--telefono
				a (511) 512 - 3100
			.footer__top__box--reclamaciones
				.footer__top__box--reclamaciones-img-libro
					a(href='#')
						img(src=`${STATIC_URL}img/libro_reclamaciones.png`, alt="")
				.footer__top__box--reclamaciones-parrafo
					p
						a.footer__top__box--reclamaciones-enlace(href='#') Libro de reclamaciones	
		.footer__bottom
			.footer__bottom__box
				p
					| © 2017  GlobalPass. Todos los derechos reservados.
			.footer__bottom__box
				p.footer__bottom--firma-staff
					| Diseño de páginas web: 
					a(href='https://www.staffdigital.pe/', target='_blank') Staff Digital
