src/pages/activacion-form.pug
extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var title = 'activacion form'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.activacion.activacion__tarjeta
		.activacion__content
			.activacion__img-content.activacion-form--padding-right-cero
				img.activacion__img--jpg.activacion-form--img-jpg(src=`${STATIC_URL}img/img-activacion2-form.jpg`, width="", height="", alt="")
			form#afiliate__form__validate.activacion__form
				.titulo-form 
					p
						| Activación de tu tarjeta
				.afiliate__ul-content
					//- message--alert
					.box-message--alert
						span.box-message__content.box-message--green
							.box-message--ico1
							.box-message ¡El código de la tarjeta es válido!
					ul
						li.input-one-content
							label.input-one__label Nombres y Apellidos
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label DNI o pasaporte
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Teléfono
							input.input-one.soloNumber(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Empresa
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Dirección de correo electrónico*
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Contraseña
							input.input-one(type="password" name="psw", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Confirmar contraseña*
							input.input-one(type="password" name="psw", class="validate[required]")
							span.input-one--span
				.solicita-tarjeta__botones-group.afiliate__botones-group
					ul.afiliate--ul-botones
						li
							button.btn-forward.btn-blue.btn-forward--hover(href='') registrar
								.btn--before
				
						
//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
			$("#afiliate__form").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});

			
		});

programing/activacion-form.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="./assets/js/validationform/validationEngine.jquery.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>activacion form</title>
  </head>
  <body class="class">
    <section class="activacion activacion__tarjeta">
      <div class="activacion__content">
        <div class="activacion__img-content activacion-form--padding-right-cero"><img class="activacion__img--jpg activacion-form--img-jpg" src="./assets/img/img-activacion2-form.jpg" width="" height="" alt=""/></div>
        <form class="activacion__form" id="afiliate__form__validate">
          <div class="titulo-form"> 
            <p>Activación de tu tarjeta</p>
          </div>
          <div class="afiliate__ul-content">
            <div class="box-message--alert"><span class="box-message__content box-message--green">
                <div class="box-message--ico1"></div>
                <div class="box-message">¡El código de la tarjeta es válido!</div></span></div>
            <ul>
              <li class="input-one-content">
                <label class="input-one__label">Nombres y Apellidos</label>
                <input class="input-one validate[required]" type="" name=""/><span class="input-one--span"></span>
              </li>
              <li class="input-one-content">
                <label class="input-one__label">DNI o pasaporte</label>
                <input class="input-one validate[required]" type="" name=""/><span class="input-one--span"></span>
              </li>
              <li class="input-one-content">
                <label class="input-one__label">Teléfono</label>
                <input class="input-one soloNumber validate[required]" type="" name=""/><span class="input-one--span"></span>
              </li>
              <li class="input-one-content">
                <label class="input-one__label">Empresa</label>
                <input class="input-one validate[required]" type="" name=""/><span class="input-one--span"></span>
              </li>
              <li class="input-one-content">
                <label class="input-one__label">Dirección de correo electrónico*</label>
                <input class="input-one validate[required]" type="" name=""/><span class="input-one--span"></span>
              </li>
              <li class="input-one-content">
                <label class="input-one__label">Contraseña</label>
                <input class="input-one validate[required]" type="password" name="psw"/><span class="input-one--span"></span>
              </li>
              <li class="input-one-content">
                <label class="input-one__label">Confirmar contraseña*</label>
                <input class="input-one validate[required]" type="password" name="psw"/><span class="input-one--span"></span>
              </li>
            </ul>
          </div>
          <div class="solicita-tarjeta__botones-group afiliate__botones-group">
            <ul class="afiliate--ul-botones">
              <li>
                <button class="btn-forward btn-blue btn-forward--hover" href="">registrar
                  <div class="btn--before"></div>
                </button>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine-es.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine.js"></script>
    <script>
      $(function() {
      	$("form").validationEngine('attach', {
      		promptPosition : "topLeft",
      		autoHidePrompt: true,
      		autoHideDelay: 3000,
      		binded: false,
      		scroll: false,
      		validateNonVisibleFields: true
      	});
      	$("#afiliate__form__validate").submit(function(e) {
      		var valid = $(this).validationEngine('validate');
      		if (!valid){
      			return false;
      		}else{
      			return true;
      		};
      	});
      	$("#afiliate__form").submit(function(e) {
      		var valid = $(this).validationEngine('validate');
      		if (!valid){
      			return false;
      		}else{
      			return true;
      		};
      	});
      
      	
      });
    </script>
  </body>
</html>
