programing/activacion.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="./assets/js/validationform/validationEngine.jquery.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>activacion</title>
  </head>
  <body class="class">
    <section class="activacion">
      <div class="activacion__content">
        <div class="activacion__img-content"><img class="activacion__img--jpg" src="./assets/img/img-activacion-form.jpg" width="" height="" alt=""/></div>
        <form class="activacion__form" id="afiliate__form">
          <div class="titulo-form"> 
            <p>Activación de tu tarjeta<strong>Ingrese aquí el código enviado junto a su tarjeta.<span class="activacion--display-block">Los Códigos presentan mayúsculas y minúsculas. </span></strong></p>
          </div>
          <div class="mi-cuenta__ul-content"> 
            <ul>
              <div class="input-one-content input--margin-top input-one-content--padding-bottom activacion--max-width">
                <input class="input-two validate[required,custom[onlyLetterNumber]]" name="" type="text" placeholder="Escribe tu código"/><span>
                  <button class="input-two__btn-span btn-blue btn-general--before--hover-ico btn-general--padding-right" href="">verificar
                    <div class="btn-general--before activacion__boton"></div>
                  </button></span>
              </div>
            </ul>
          </div>
          <div class="activacion__ul">
            <ul class="parrafo-form">
              <li>Si usted aún no cuenta con un código, Solicite su tarjeta <a class="activacion--color-orange" href="#">aquí.</a></li>
            </ul>
          </div>
        </form>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine-es.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine.js"></script>
    <script>
      $(function() {
      
      	$("#afiliate__form").validationEngine('attach', {
      		promptPosition : "topLeft",
      		autoHidePrompt: true,
      		autoHideDelay: 3000,
      		binded: false,
      		scroll: false,
      		validateNonVisibleFields: true,
      		"onlyNumber": {
      				"regex": /^[0-9\ ]+$/,
      				"alertText": "* Numbers only"
      		},
      		onValidationComplete: function(form, status){
      			console.log(form)
      			console.log(status)
      		}  
      	});
      });
    </script>
  </body>
</html>

src/pages/activacion.pug
extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var title = 'activacion'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.activacion
		.activacion__content
			.activacion__img-content
				img.activacion__img--jpg(src=`${STATIC_URL}img/img-activacion-form.jpg`, width="", height="", alt="")
			form#afiliate__form.activacion__form
				.titulo-form 
					p
						| Activación de tu tarjeta
						strong
							| Ingrese aquí el código enviado junto a su tarjeta.
							span.activacion--display-block Los Códigos presentan mayúsculas y minúsculas. 
				.mi-cuenta__ul-content 
					ul
						.input-one-content.input--margin-top.input-one-content--padding-bottom.activacion--max-width
							input.input-two(name='', type='text', placeholder='Escribe tu código', class="validate[required,custom[onlyLetterNumber]]")
							span
								button.input-two__btn-span.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') verificar
									.btn-general--before.activacion__boton


				.activacion__ul
					ul.parrafo-form
						li Si usted aún no cuenta con un código, Solicite su tarjeta 
							a.activacion--color-orange(href='#') aquí.
			
//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {

			$("#afiliate__form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true,
				"onlyNumber": {
						"regex": /^[0-9\ ]+$/,
						"alertText": "* Numbers only"
				},
				onValidationComplete: function(form, status){
					console.log(form)
					console.log(status)
				}  
			});
		});
