programing/afiliate.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="./assets/js/validationform/validationEngine.jquery.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>afiliate</title>
  </head>
  <body class="class">
    <section class="mi-cuenta">
      <div class="afiliate__content">
        <form class="afiliate__form" id="afiliate__form__validate">
          <div class="titulo-form afiliate--text-center"> 
            <p>Afiliate a nuestra red de establecimientos<strong>Ingresa tus datos y nos contactaremos contigo inmediatamente</strong></p>
          </div>
          <div class="afiliate__ul-content"> 
            <ul>
              <li class="input-one-content">
                <label class="input-one__label">Nombre de establecimiento</label>
                <input class="input-one validate[required]" type="" name=""/><span class="input-one--span"></span>
              </li>
              <li class="input-one-content">
                <label class="input-one__label">Nombre de contacto</label>
                <input class="input-one validate[required]" type="" name=""/><span class="input-one--span"></span>
              </li>
              <li class="input-one-content">
                <label class="input-one__label">Teléfono</label>
                <input class="input-one soloNumber validate[required]" type="" name=""/><span class="input-one--span"></span>
              </li>
              <li class="input-one-content">
                <label class="input-one__label">Rubro</label>
                <input class="input-one validate[required]" type="" name=""/><span class="input-one--span"></span>
              </li>
              <li class="input-one-content">
                <label class="input-one__label">Dirección de correo electrónico*</label>
                <input class="input-one validate[required]" type="" name=""/><span class="input-one--span"></span>
              </li>
              <li class="input-one-content">
                <label class="input-one__label">Mensaje</label>
                <input class="input-one validate[required]" type="" name=""/><span class="input-one--span"></span>
              </li>
            </ul>
          </div>
          <div class="solicita-tarjeta__botones-group afiliate__botones-group">
            <ul class="afiliate--ul-botones">
              <li>
                <button class="btn-forward btn-blue btn-forward--hover" href="">enviar
                  <div class="btn--before"></div>
                </button>
              </li>
            </ul>
          </div>
        </form>
        <div class="afiliate__img" style="background-image: url('/assets/img/img-afiliate-form.jpg');"></div>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine-es.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine.js"></script>
    <script>
      $(function() {
      	$("form").validationEngine('attach', {
      		promptPosition : "topLeft",
      		autoHidePrompt: true,
      		autoHideDelay: 3000,
      		binded: false,
      		scroll: false,
      		validateNonVisibleFields: true
      	});
      	$("#afiliate__form__validate").submit(function(e) {
      		var valid = $(this).validationEngine('validate');
      		if (!valid){
      			return false;
      		}else{
      			return true;
      		};
      	});
      });
    </script>
  </body>
</html>

src/pages/afiliate.pug
extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var title = 'afiliate'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.mi-cuenta
		.afiliate__content
			form#afiliate__form__validate.afiliate__form
				.titulo-form.afiliate--text-center 
					p
						| Afiliate a nuestra red de establecimientos
						strong
							| Ingresa tus datos y nos contactaremos contigo inmediatamente
				.afiliate__ul-content 
					ul
						li.input-one-content
							label.input-one__label Nombre de establecimiento
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Nombre de contacto
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Teléfono
							input.input-one.soloNumber(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Rubro
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Dirección de correo electrónico*
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Mensaje
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
				.solicita-tarjeta__botones-group.afiliate__botones-group
					ul.afiliate--ul-botones
						li
							button.btn-forward.btn-blue.btn-forward--hover(href='') enviar
								.btn--before
			
			.afiliate__img(style="background-image: url('/assets/img/img-afiliate-form.jpg')")
						
//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		});
