src/pages/corporativo.pug
extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
//- body classs
block vars
	- var title = 'corporativo'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.corporativo__wrap
		.corporativo__container
			.corporativo__table
				.corporativo__right
					.corporativo__right__top
						h3 Tu tarjeta GlobalPass para empresas con beneficios exclusivos
						p Disfruta de los beneficios exclusivos para empresas que tenemos para ti, escribenos a 
							a(href="mailto:empresas@globalpass.com.pe") empresas@globalpass.com.pe 
							| y nos contactaremos contigo a la breverdad posible
					.corporativo__right__slider
						ul.corporativo__right--pitcher
							li
								.corporativo__right__item
									.corporativo__right__image
										img(src=`${STATIC_URL}img/corporativo-img.png`, alt="")
									.corporativo__right__info
										.corporativo__right__info__title
											h3 HOTELES
										.corporativo__right__info__text
											p Ahorre hasta un 70% en todos los hoteles y complejos turísticos de calidad superior en todas partes del mundo.
							li
								.corporativo__right__item
									.corporativo__right__image
										img(src=`${STATIC_URL}img/corporativo-img.png`, alt="")
									.corporativo__right__info
										.corporativo__right__info__title
											h3 HOTELES
										.corporativo__right__info__text
											p Ahorre hasta un 70% en todos los hoteles y complejos turísticos de calidad superior en todas partes del mundo.
							li
								.corporativo__right__item
									.corporativo__right__image
										img(src=`${STATIC_URL}img/corporativo-img.png`, alt="")
									.corporativo__right__info
										.corporativo__right__info__title
											h3 HOTELES
										.corporativo__right__info__text
											p Ahorre hasta un 70% en todos los hoteles y complejos turísticos de calidad superior en todas partes del mundo.
							li
								.corporativo__right__item
									.corporativo__right__image
										img(src=`${STATIC_URL}img/corporativo-img.png`, alt="")
									.corporativo__right__info
										.corporativo__right__info__title
											h3 HOTELES
										.corporativo__right__info__text
											p Ahorre hasta un 70% en todos los hoteles y complejos turísticos de calidad superior en todas partes del mundo.
				.corporativo__left
					.corporativo__img(style=`background-image: url('${STATIC_URL}img/corporativo-img-bg.jpg')`)

	.informacion__tarjeta__slider
		.informacion__tarjeta__slider__container
			.informacion__tarjeta__title
				h3 Ofrecemos las mejores marcas
			.informacion__tarjeta__slider__slider
				ul.informacion__tarjeta__slider--pitcher
					li
						a(href="#").informacion__tarjeta__slider__item
							img(src=`${STATIC_URL}img/info-tarjeta-img-slider.png`, alt="")
					li
						a(href="#").informacion__tarjeta__slider__item
							img(src=`${STATIC_URL}img/info-tarjeta-img-slider.png`, alt="")
					li
						a(href="#").informacion__tarjeta__slider__item
							img(src=`${STATIC_URL}img/info-tarjeta-img-slider.png`, alt="")
					li
						a(href="#").informacion__tarjeta__slider__item
							img(src=`${STATIC_URL}img/info-tarjeta-img-slider.png`, alt="")
					li
						a(href="#").informacion__tarjeta__slider__item
							img(src=`${STATIC_URL}img/info-tarjeta-img-slider.png`, alt="")
					li
						a(href="#").informacion__tarjeta__slider__item
							img(src=`${STATIC_URL}img/info-tarjeta-img-slider.png`, alt="")
					li
						a(href="#").informacion__tarjeta__slider__item
							img(src=`${STATIC_URL}img/info-tarjeta-img-slider.png`, alt="")

//- js
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			$('.corporativo__right--pitcher').slick({
			slidesToShow: 3,
			slidesToScroll: 1,
			infinite: true,
			autoplay: true,
			arrows: true,
			 responsive: [
			 	{
					breakpoint: 1216,
					settings: {
						slidesToShow: 2,
						slidesToScroll: 1
					}
				},
				//- {
				//- 	breakpoint: 1024,
				//- 	settings: {
				//- 		slidesToShow: 2,
				//- 		slidesToScroll: 1
				//- 	}
				//- },
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1
					}
				}
			]
		});

		$('.informacion__tarjeta__slider--pitcher').slick({
			slidesToShow: 5,
			slidesToScroll: 1,
			infinite: true,
			autoplay: true,
			arrows: false,
			 responsive: [
				{
					breakpoint: 1400,
					settings: {
						slidesToShow: 4,
						slidesToScroll: 1
					}
				},
				{
					breakpoint: 840,
					settings: {
						slidesToShow: 3,
						slidesToScroll: 1
					}
				},
				{
					breakpoint: 640,
					settings: {
						slidesToShow: 2,
						slidesToScroll: 1
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1
					}
				}
			]
		});
		})

programing/corporativo.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="./assets/js/slick/slick.css"/>
    <link rel="stylesheet" href="./assets/js/slick/slick-theme.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>corporativo</title>
  </head>
  <body class="class">
    <div class="corporativo__wrap">
      <div class="corporativo__container">
        <div class="corporativo__table">
          <div class="corporativo__right">
            <div class="corporativo__right__top">
              <h3>Tu tarjeta GlobalPass para empresas con beneficios exclusivos</h3>
              <p>Disfruta de los beneficios exclusivos para empresas que tenemos para ti, escribenos a <a href="mailto:empresas@globalpass.com.pe">empresas@globalpass.com.pe </a>y nos contactaremos contigo a la breverdad posible</p>
            </div>
            <div class="corporativo__right__slider">
              <ul class="corporativo__right--pitcher">
                <li>
                  <div class="corporativo__right__item">
                    <div class="corporativo__right__image"><img src="./assets/img/corporativo-img.png" alt=""/></div>
                    <div class="corporativo__right__info">
                      <div class="corporativo__right__info__title">
                        <h3>HOTELES</h3>
                      </div>
                      <div class="corporativo__right__info__text">
                        <p>Ahorre hasta un 70% en todos los hoteles y complejos turísticos de calidad superior en todas partes del mundo.</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="corporativo__right__item">
                    <div class="corporativo__right__image"><img src="./assets/img/corporativo-img.png" alt=""/></div>
                    <div class="corporativo__right__info">
                      <div class="corporativo__right__info__title">
                        <h3>HOTELES</h3>
                      </div>
                      <div class="corporativo__right__info__text">
                        <p>Ahorre hasta un 70% en todos los hoteles y complejos turísticos de calidad superior en todas partes del mundo.</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="corporativo__right__item">
                    <div class="corporativo__right__image"><img src="./assets/img/corporativo-img.png" alt=""/></div>
                    <div class="corporativo__right__info">
                      <div class="corporativo__right__info__title">
                        <h3>HOTELES</h3>
                      </div>
                      <div class="corporativo__right__info__text">
                        <p>Ahorre hasta un 70% en todos los hoteles y complejos turísticos de calidad superior en todas partes del mundo.</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="corporativo__right__item">
                    <div class="corporativo__right__image"><img src="./assets/img/corporativo-img.png" alt=""/></div>
                    <div class="corporativo__right__info">
                      <div class="corporativo__right__info__title">
                        <h3>HOTELES</h3>
                      </div>
                      <div class="corporativo__right__info__text">
                        <p>Ahorre hasta un 70% en todos los hoteles y complejos turísticos de calidad superior en todas partes del mundo.</p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="corporativo__left">
            <div class="corporativo__img" style="background-image: url('./assets/img/corporativo-img-bg.jpg');"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="informacion__tarjeta__slider">
      <div class="informacion__tarjeta__slider__container">
        <div class="informacion__tarjeta__title">
          <h3>Ofrecemos las mejores marcas</h3>
        </div>
        <div class="informacion__tarjeta__slider__slider">
          <ul class="informacion__tarjeta__slider--pitcher">
            <li><a class="informacion__tarjeta__slider__item" href="#"><img src="./assets/img/info-tarjeta-img-slider.png" alt=""/></a></li>
            <li><a class="informacion__tarjeta__slider__item" href="#"><img src="./assets/img/info-tarjeta-img-slider.png" alt=""/></a></li>
            <li><a class="informacion__tarjeta__slider__item" href="#"><img src="./assets/img/info-tarjeta-img-slider.png" alt=""/></a></li>
            <li><a class="informacion__tarjeta__slider__item" href="#"><img src="./assets/img/info-tarjeta-img-slider.png" alt=""/></a></li>
            <li><a class="informacion__tarjeta__slider__item" href="#"><img src="./assets/img/info-tarjeta-img-slider.png" alt=""/></a></li>
            <li><a class="informacion__tarjeta__slider__item" href="#"><img src="./assets/img/info-tarjeta-img-slider.png" alt=""/></a></li>
            <li><a class="informacion__tarjeta__slider__item" href="#"><img src="./assets/img/info-tarjeta-img-slider.png" alt=""/></a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="./assets/js/slick/slick.min.js"></script>
    <script>
      $(()=>{
      	$('.corporativo__right--pitcher').slick({
      	slidesToShow: 3,
      	slidesToScroll: 1,
      	infinite: true,
      	autoplay: true,
      	arrows: true,
      	 responsive: [
      	 	{
      			breakpoint: 1216,
      			settings: {
      				slidesToShow: 2,
      				slidesToScroll: 1
      			}
      		},
      		//- {
      		//- 	breakpoint: 1024,
      		//- 	settings: {
      		//- 		slidesToShow: 2,
      		//- 		slidesToScroll: 1
      		//- 	}
      		//- },
      		{
      			breakpoint: 480,
      			settings: {
      				slidesToShow: 1,
      				slidesToScroll: 1
      			}
      		}
      	]
      });
      
      $('.informacion__tarjeta__slider--pitcher').slick({
      	slidesToShow: 5,
      	slidesToScroll: 1,
      	infinite: true,
      	autoplay: true,
      	arrows: false,
      	 responsive: [
      		{
      			breakpoint: 1400,
      			settings: {
      				slidesToShow: 4,
      				slidesToScroll: 1
      			}
      		},
      		{
      			breakpoint: 840,
      			settings: {
      				slidesToShow: 3,
      				slidesToScroll: 1
      			}
      		},
      		{
      			breakpoint: 640,
      			settings: {
      				slidesToShow: 2,
      				slidesToScroll: 1
      			}
      		},
      		{
      			breakpoint: 480,
      			settings: {
      				slidesToShow: 1,
      				slidesToScroll: 1
      			}
      		}
      	]
      });
      })
    </script>
  </body>
</html>
