src/pages/enviado.pug
extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var title = 'enviado'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.section-enviado(style=`background-image: url('${STATIC_URL}img/img-bg-enviado.jpg')`)
		.enviado-content
			h1.enviado--h1 Mensaje enviado.
			h2.enviado--h2 Continúa navegando o visita nuestras promociones.
			button.btn-general.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') Ver promociones
				.btn-general--before

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})

programing/enviado.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>enviado</title>
  </head>
  <body class="class">
    <section class="section-enviado" style="background-image: url('./assets/img/img-bg-enviado.jpg');">
      <div class="enviado-content">
        <h1 class="enviado--h1">Mensaje enviado.</h1>
        <h2 class="enviado--h2">Continúa navegando o visita nuestras promociones.</h2>
        <button class="btn-general btn-blue btn-general--before--hover-ico btn-general--padding-right" href="">Ver promociones
          <div class="btn-general--before"></div>
        </button>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
      $(()=>{
      	//code here ------
      })
    </script>
  </body>
</html>
