src/pages/home.pug
extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/select2/select2.min.css`)
	link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")

//- body classs
block vars
	- var title = 'home'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.banner__home
		ul.banner__home__slider
			li.banner__slider__item(style=`background-image: url(${STATIC_URL}img/background-banner-principal.png)`)
				.banner__content
					.banner__wrap
						.banner__slider__title
							h2 Encuentra el descuento ideal
						.banner__slider__subtitule
							h3 Hasta 65% de dscto. en turismo, belleza y salud, restaurantes y bodas
						.banner__form__block
							form
								ul.banner__form__block__list
									li.banner__form__select--line--one
										.banner__form__select
											select(name="", class="select--select2--image")
												option(value="chile") Chile
												option(value="colombia") Colombia
												option(value="peru") Perú
									li.banner__form__select--line--one
										.banner__form__select
											select(name="", class="select--select2")
												option(value="ciudad") Ciudad
												option(value="ciudad") Ciudad
												option(value="ciudad") Ciudad
									li.banner__form__select--line--one
										.banner__form__select
											select(name="", class="select--select2")
												option(value="categoria") Categoria
												option(value="categoria") Categoria
												option(value="categoria") Categoria
									li.banner__form__select--line--last
										a.btn-forward.btn-orange.btn-forward--hover.btn--padding-left(href='') Buscar
											.btn--after-buscar
		.banner__home--clone

	section.productos__carrousel
		.productos__carrousel__wrap
			ul.productos__box__item
				li.producto__item
					a.promociones__item(href="#")
						.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
						.promociones__item__content
							//- .promociones__item__discount--text
							//- .promociones__item__discount--offer
							.promociones__item__discount.promociones__item__discount--percentage
								.promociones__item__discount__logo
									img(src=`${STATIC_URL}img/item-logo.png`, alt="")
								.promociones__item__discount__promo 35%
							.promociones__item__info
								.promociones__item__title
									h3 Posadas del inca Yucay
								.promociones__item__text
									p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
								.button__content-home
									span.button__promocion-home.btn-orange LIMA - PERÚ
				li.producto__item
					a.promociones__item(href="#")
						.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
						.promociones__item__content
							//- .promociones__item__discount--text
							//- .promociones__item__discount--offer
							.promociones__item__discount.promociones__item__discount--percentage
								.promociones__item__discount__logo
									img(src=`${STATIC_URL}img/item-logo.png`, alt="")
								.promociones__item__discount__promo 35%
							.promociones__item__info
								.promociones__item__title
									h3 Posadas del inca Yucay
								.promociones__item__text
									p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
								.button__content-home
									span.button__promocion-home.btn-orange LIMA - PERÚ
				li.producto__item
					a.promociones__item(href="#")
						.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
						.promociones__item__content
							//- .promociones__item__discount--text
							//- .promociones__item__discount--offer
							.promociones__item__discount.promociones__item__discount--percentage
								.promociones__item__discount__logo
									img(src=`${STATIC_URL}img/item-logo.png`, alt="")
								.promociones__item__discount__promo 35%
							.promociones__item__info
								.promociones__item__title
									h3 Posadas del inca Yucay
								.promociones__item__text
									p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
								.button__content-home
									span.button__promocion-home.btn-orange LIMA - PERÚ
				li.producto__item
					a.promociones__item(href="#")
						.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
						.promociones__item__content
							//- .promociones__item__discount--text
							//- .promociones__item__discount--offer
							.promociones__item__discount.promociones__item__discount--percentage
								.promociones__item__discount__logo
									img(src=`${STATIC_URL}img/item-logo.png`, alt="")
								.promociones__item__discount__promo 35%
							.promociones__item__info
								.promociones__item__title
									h3 Posadas del inca Yucay
								.promociones__item__text
									p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
								.button__content-home
									span.button__promocion-home.btn-orange LIMA - PERÚ
				li.producto__item
					a.promociones__item(href="#")
						.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
						.promociones__item__content
							//- .promociones__item__discount--text
							//- .promociones__item__discount--offer
							.promociones__item__discount.promociones__item__discount--percentage
								.promociones__item__discount__logo
									img(src=`${STATIC_URL}img/item-logo.png`, alt="")
								.promociones__item__discount__promo 35%
							.promociones__item__info
								.promociones__item__title
									h3 Posadas del inca Yucay
								.promociones__item__text
									p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
								.button__content-home
									span.button__promocion-home.btn-orange LIMA - PERÚ
				li.producto__item
					a.promociones__item(href="#")
						.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
						.promociones__item__content
							//- .promociones__item__discount--text
							//- .promociones__item__discount--offer
							.promociones__item__discount.promociones__item__discount--percentage
								.promociones__item__discount__logo
									img(src=`${STATIC_URL}img/item-logo.png`, alt="")
								.promociones__item__discount__promo 35%
							.promociones__item__info
								.promociones__item__title
									h3 Posadas del inca Yucay
								.promociones__item__text
									p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
								.button__content-home
									span.button__promocion-home.btn-orange LIMA - PERÚ
				li.producto__item
					a.promociones__item(href="#")
						.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
						.promociones__item__content
							//- .promociones__item__discount--text
							//- .promociones__item__discount--offer
							.promociones__item__discount.promociones__item__discount--percentage
								.promociones__item__discount__logo
									img(src=`${STATIC_URL}img/item-logo.png`, alt="")
								.promociones__item__discount__promo 35%
							.promociones__item__info
								.promociones__item__title
									h3 Posadas del inca Yucay
								.promociones__item__text
									p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
								.button__content-home
									span.button__promocion-home.btn-orange LIMA - PERÚ
				li.producto__item
					a.promociones__item(href="#")
						.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
						.promociones__item__content
							//- .promociones__item__discount--text
							//- .promociones__item__discount--offer
							.promociones__item__discount.promociones__item__discount--percentage
								.promociones__item__discount__logo
									img(src=`${STATIC_URL}img/item-logo.png`, alt="")
								.promociones__item__discount__promo 35%
							.promociones__item__info
								.promociones__item__title
									h3 Posadas del inca Yucay
								.promociones__item__text
									p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
								.button__content-home
									span.button__promocion-home.btn-orange LIMA - PERÚ
	section.promocion
		.promocion__wrapp
			.promocion__title
				.promocion__title__box
					h2 Promociones destacadas
			.promocion__content__item
				ul.promocion__box__item
					li.promocion__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.button__content-home
										span.button__promocion-home.btn-orange LIMA - PERÚ
					li.promocion__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.button__content-home
										span.button__promocion-home.btn-orange LIMA - PERÚ

					li.promocion__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.button__content-home
										span.button__promocion-home.btn-orange LIMA - PERÚ

					li.promocion__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.button__content-home
										span.button__promocion-home.btn-orange LIMA - PERÚ
			.promocion__button
				.promocion__general
					.promocion__g__btn
						h3 Más descuentos aquí
						.btn__circule

			.promocion__banner
				.promocion__banner__publicidad(style=`background-image: url('${STATIC_URL}img/productos-publicidad-foot.png')`)
	section.membresia__activa
		.promocion__wrapp
			.membresia__activa__wrap
				.membresia__activa__box
					.membresia__activa__item
						.membresia__bgc(style=`background-image: url(${STATIC_URL}img/membresia-bgc.png)`)
							.membresia__bgc__icon
								img(src=`${STATIC_URL}img/membresia-icon1.png`, alt="")
							.membresia__bgc__text
								h3 Ingrese tu código y comienza a disfrutar de nuestros beneficios
							.membresia__bgc__buttont
								a(href="")
									.promocion__general
										.promocion__g__btn
											h3 Más descuentos aquí
											.btn__circule
					.membresia__activa__item
						.membresia__bgc(style=`background-image: url(${STATIC_URL}img/membresia-bgc1.png)`)
							.membresia__bgc__icon
								img(src=`${STATIC_URL}img/membresia-icon2.png`, alt="")
							.membresia__bgc__text
								h3 ¡Inicia sesión, sube y administra todas tus promociones!
							.membresia__bgc__buttont
								a(href="")
									.promocion__general
										.promocion__g__btn
											h3 Más descuentos aquí
											.btn__circule
					.membresia__activa__item
						.membresia__bgc(style=`background-image: url(${STATIC_URL}img/membresia-bgc3.png)`)
							.membresia__bgc__icon
								img(src=`${STATIC_URL}img/membresia-icon3.png`, alt="")
							.membresia__bgc__text
								h3 Hasta 50% de descuento en muchos establecimientos
							.membresia__bgc__buttont
								a(href="")
									.promocion__general
										.promocion__g__btn
											h3 Más descuentos aquí
											.btn__circule
			.promocion__banner
				.promocion__banner__publicidad(style=`background-image: url('${STATIC_URL}img/productos-publicidad-foot.png')`)
	section.marcas__drawing
		.drawing-container#drawing-container
		//- .drawing-container__item(style=`background-image: url(${STATIC_URL}img/a.png)`)
		//- .drawing-container__move#rrr
		.drawing__responsive__img
			.drawing__reponsive__items
				.drawing__banner__card(style=`background-image: url('${STATIC_URL}img/tarjeta-1.jpg')`)
				.drawing__banner__card(style=`background-image: url('${STATIC_URL}img/tarjeta-2.jpg')`)
					
	section.slider__membresia__logos.home-slider-membresia--overflow
		.slider__membresia__wrapp__content
			.slider__membresia
				h2 Marcas afiliadas
			ul.slider__items__logos
				li.slider__items__img
					img(src=`${STATIC_URL}img/item-slider-logos.jpg`)
				li.slider__items__img
					img(src=`${STATIC_URL}img/item-slider-logos2.jpg`)
				li.slider__items__img
					img(src=`${STATIC_URL}img/item-slider-logos3.jpg`)
				li.slider__items__img
					img(src=`${STATIC_URL}img/item-slider-logos4.jpg`)
				li.slider__items__img
					img(src=`${STATIC_URL}img/item-slider-logos5.jpg`)
				li.slider__items__img
					img(src=`${STATIC_URL}img/item-slider-logos6.jpg`)
				li.slider__items__img
					img(src=`${STATIC_URL}img/item-slider-logos7.jpg`)
				li.slider__items__img
					img(src=`${STATIC_URL}img/item-slider-logos7.jpg`)

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
	script(src=`../${STATIC_URL}js/drawing.js`)
	script(src=`${STATIC_URL}js/select2/select2.full.js`)
	script.
		$(()=>{

			$('.banner__form__block').clone().appendTo('.banner__home--clone').removeClass('banner__form__block').addClass('banner__form__block__responsive');
			
			
			if($(window).width()<768){
				$('.banner__form__block').remove();
			}

			function format (option) {
				console.log(option);
				if (!option.id) { return option.text; }
				var ob = option.text + '<img src="./assets/img/proximamente.png" />';
				return ob;
			};

			$(".select--select2--image").select2({
				allowClear: false,
				templateResult: format,
				escapeMarkup: function format(m) {
					return m;
				}
			});

			$(".select--select2").select2();

			//code here ------
			$('.productos__box__item').slick({
				arrows: true,
				dots: false,
				infinite: true,
				autoplay: false,
				slidesToShow: 4,
				nextText: '',
				prevText: '',
				slidesToScroll: 4,
				responsive: [
					{
					breakpoint: 980,
					settings: {
						slidesToShow: 3,
						speed: 1000,
						slidesToScroll: 1
						}
					},
					{
					breakpoint: 780,
					settings: {
						slidesToShow: 2,
						speed: 800,
						slidesToScroll: 1
						}
					},
					{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
						speed: 750,
						slidesToScroll: 1
						}
					},
					

				]
			});
			$('.slider__items__logos').slick({
				arrows: true,
				dots: false,
				infinite: true,
				autoplay: false,
				slidesToShow: 7,
				nextText: '',
				prevText: '',
				slidesToScroll: 4,
				responsive: [
					{
					breakpoint: 980,
					settings: {
						slidesToShow: 4,
						speed: 1000,
						slidesToScroll: 1,
						}
					},
					{
					breakpoint: 780,
					settings: {
						slidesToShow: 3,
						speed: 800,
						slidesToScroll: 1,
						}
					},
					{
					breakpoint: 480,
					settings: {
						slidesToShow: 2,
						speed: 750,
						slidesToScroll: 1,
						}
					},
				]
			});
			drawing.init({
				container: $('#drawing-container'),
				imgLeft: './assets/img/AZUL.jpg',
				imgRight: './assets/img/NEGRO.jpg',
				drag: $('.drawing-container__move'),
			})
		})

programing/home.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="./assets/js/slick/slick.css"/>
    <link rel="stylesheet" href="./assets/js/slick/slick-theme.css"/>
    <link rel="stylesheet" href="./assets/js/select2/select2.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>home</title>
  </head>
  <body class="class">
    <section class="banner__home">
      <ul class="banner__home__slider">
        <li class="banner__slider__item" style="background-image: url(./assets/img/background-banner-principal.png);">
          <div class="banner__content">
            <div class="banner__wrap">
              <div class="banner__slider__title">
                <h2>Encuentra el descuento ideal</h2>
              </div>
              <div class="banner__slider__subtitule">
                <h3>Hasta 65% de dscto. en turismo, belleza y salud, restaurantes y bodas</h3>
              </div>
              <div class="banner__form__block">
                <form>
                  <ul class="banner__form__block__list">
                    <li class="banner__form__select--line--one">
                      <div class="banner__form__select">
                        <select class="select--select2--image" name="">
                          <option value="chile">Chile</option>
                          <option value="colombia">Colombia</option>
                          <option value="peru">Perú</option>
                        </select>
                      </div>
                    </li>
                    <li class="banner__form__select--line--one">
                      <div class="banner__form__select">
                        <select class="select--select2" name="">
                          <option value="ciudad">Ciudad</option>
                          <option value="ciudad">Ciudad</option>
                          <option value="ciudad">Ciudad</option>
                        </select>
                      </div>
                    </li>
                    <li class="banner__form__select--line--one">
                      <div class="banner__form__select">
                        <select class="select--select2" name="">
                          <option value="categoria">Categoria</option>
                          <option value="categoria">Categoria</option>
                          <option value="categoria">Categoria</option>
                        </select>
                      </div>
                    </li>
                    <li class="banner__form__select--line--last"><a class="btn-forward btn-orange btn-forward--hover btn--padding-left" href="">Buscar
                        <div class="btn--after-buscar"></div></a></li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="banner__home--clone"></div>
    </section>
    <section class="productos__carrousel">
      <div class="productos__carrousel__wrap">
        <ul class="productos__box__item">
          <li class="producto__item"><a class="promociones__item" href="#">
              <div class="promociones__item__image" style="background-image: url('./assets/img/promociones-item.jpg');"></div>
              <div class="promociones__item__content">
                <div class="promociones__item__discount promociones__item__discount--percentage">
                  <div class="promociones__item__discount__logo"><img src="./assets/img/item-logo.png" alt=""/></div>
                  <div class="promociones__item__discount__promo">35%</div>
                </div>
                <div class="promociones__item__info">
                  <div class="promociones__item__title">
                    <h3>Posadas del inca Yucay</h3>
                  </div>
                  <div class="promociones__item__text">
                    <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                  </div>
                  <div class="button__content-home"><span class="button__promocion-home btn-orange">LIMA - PERÚ</span></div>
                </div>
              </div></a></li>
          <li class="producto__item"><a class="promociones__item" href="#">
              <div class="promociones__item__image" style="background-image: url('./assets/img/promociones-item.jpg');"></div>
              <div class="promociones__item__content">
                <div class="promociones__item__discount promociones__item__discount--percentage">
                  <div class="promociones__item__discount__logo"><img src="./assets/img/item-logo.png" alt=""/></div>
                  <div class="promociones__item__discount__promo">35%</div>
                </div>
                <div class="promociones__item__info">
                  <div class="promociones__item__title">
                    <h3>Posadas del inca Yucay</h3>
                  </div>
                  <div class="promociones__item__text">
                    <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                  </div>
                  <div class="button__content-home"><span class="button__promocion-home btn-orange">LIMA - PERÚ</span></div>
                </div>
              </div></a></li>
          <li class="producto__item"><a class="promociones__item" href="#">
              <div class="promociones__item__image" style="background-image: url('./assets/img/promociones-item.jpg');"></div>
              <div class="promociones__item__content">
                <div class="promociones__item__discount promociones__item__discount--percentage">
                  <div class="promociones__item__discount__logo"><img src="./assets/img/item-logo.png" alt=""/></div>
                  <div class="promociones__item__discount__promo">35%</div>
                </div>
                <div class="promociones__item__info">
                  <div class="promociones__item__title">
                    <h3>Posadas del inca Yucay</h3>
                  </div>
                  <div class="promociones__item__text">
                    <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                  </div>
                  <div class="button__content-home"><span class="button__promocion-home btn-orange">LIMA - PERÚ</span></div>
                </div>
              </div></a></li>
          <li class="producto__item"><a class="promociones__item" href="#">
              <div class="promociones__item__image" style="background-image: url('./assets/img/promociones-item.jpg');"></div>
              <div class="promociones__item__content">
                <div class="promociones__item__discount promociones__item__discount--percentage">
                  <div class="promociones__item__discount__logo"><img src="./assets/img/item-logo.png" alt=""/></div>
                  <div class="promociones__item__discount__promo">35%</div>
                </div>
                <div class="promociones__item__info">
                  <div class="promociones__item__title">
                    <h3>Posadas del inca Yucay</h3>
                  </div>
                  <div class="promociones__item__text">
                    <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                  </div>
                  <div class="button__content-home"><span class="button__promocion-home btn-orange">LIMA - PERÚ</span></div>
                </div>
              </div></a></li>
          <li class="producto__item"><a class="promociones__item" href="#">
              <div class="promociones__item__image" style="background-image: url('./assets/img/promociones-item.jpg');"></div>
              <div class="promociones__item__content">
                <div class="promociones__item__discount promociones__item__discount--percentage">
                  <div class="promociones__item__discount__logo"><img src="./assets/img/item-logo.png" alt=""/></div>
                  <div class="promociones__item__discount__promo">35%</div>
                </div>
                <div class="promociones__item__info">
                  <div class="promociones__item__title">
                    <h3>Posadas del inca Yucay</h3>
                  </div>
                  <div class="promociones__item__text">
                    <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                  </div>
                  <div class="button__content-home"><span class="button__promocion-home btn-orange">LIMA - PERÚ</span></div>
                </div>
              </div></a></li>
          <li class="producto__item"><a class="promociones__item" href="#">
              <div class="promociones__item__image" style="background-image: url('./assets/img/promociones-item.jpg');"></div>
              <div class="promociones__item__content">
                <div class="promociones__item__discount promociones__item__discount--percentage">
                  <div class="promociones__item__discount__logo"><img src="./assets/img/item-logo.png" alt=""/></div>
                  <div class="promociones__item__discount__promo">35%</div>
                </div>
                <div class="promociones__item__info">
                  <div class="promociones__item__title">
                    <h3>Posadas del inca Yucay</h3>
                  </div>
                  <div class="promociones__item__text">
                    <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                  </div>
                  <div class="button__content-home"><span class="button__promocion-home btn-orange">LIMA - PERÚ</span></div>
                </div>
              </div></a></li>
          <li class="producto__item"><a class="promociones__item" href="#">
              <div class="promociones__item__image" style="background-image: url('./assets/img/promociones-item.jpg');"></div>
              <div class="promociones__item__content">
                <div class="promociones__item__discount promociones__item__discount--percentage">
                  <div class="promociones__item__discount__logo"><img src="./assets/img/item-logo.png" alt=""/></div>
                  <div class="promociones__item__discount__promo">35%</div>
                </div>
                <div class="promociones__item__info">
                  <div class="promociones__item__title">
                    <h3>Posadas del inca Yucay</h3>
                  </div>
                  <div class="promociones__item__text">
                    <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                  </div>
                  <div class="button__content-home"><span class="button__promocion-home btn-orange">LIMA - PERÚ</span></div>
                </div>
              </div></a></li>
          <li class="producto__item"><a class="promociones__item" href="#">
              <div class="promociones__item__image" style="background-image: url('./assets/img/promociones-item.jpg');"></div>
              <div class="promociones__item__content">
                <div class="promociones__item__discount promociones__item__discount--percentage">
                  <div class="promociones__item__discount__logo"><img src="./assets/img/item-logo.png" alt=""/></div>
                  <div class="promociones__item__discount__promo">35%</div>
                </div>
                <div class="promociones__item__info">
                  <div class="promociones__item__title">
                    <h3>Posadas del inca Yucay</h3>
                  </div>
                  <div class="promociones__item__text">
                    <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                  </div>
                  <div class="button__content-home"><span class="button__promocion-home btn-orange">LIMA - PERÚ</span></div>
                </div>
              </div></a></li>
        </ul>
      </div>
    </section>
    <section class="promocion">
      <div class="promocion__wrapp">
        <div class="promocion__title">
          <div class="promocion__title__box">
            <h2>Promociones destacadas</h2>
          </div>
        </div>
        <div class="promocion__content__item">
          <ul class="promocion__box__item">
            <li class="promocion__item"><a class="promociones__item" href="#">
                <div class="promociones__item__image" style="background-image: url('./assets/img/promociones-item.jpg');"></div>
                <div class="promociones__item__content">
                  <div class="promociones__item__discount promociones__item__discount--percentage">
                    <div class="promociones__item__discount__logo"><img src="./assets/img/item-logo.png" alt=""/></div>
                    <div class="promociones__item__discount__promo">35%</div>
                  </div>
                  <div class="promociones__item__info">
                    <div class="promociones__item__title">
                      <h3>Posadas del inca Yucay</h3>
                    </div>
                    <div class="promociones__item__text">
                      <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                    </div>
                    <div class="button__content-home"><span class="button__promocion-home btn-orange">LIMA - PERÚ</span></div>
                  </div>
                </div></a></li>
            <li class="promocion__item"><a class="promociones__item" href="#">
                <div class="promociones__item__image" style="background-image: url('./assets/img/promociones-item.jpg');"></div>
                <div class="promociones__item__content">
                  <div class="promociones__item__discount promociones__item__discount--percentage">
                    <div class="promociones__item__discount__logo"><img src="./assets/img/item-logo.png" alt=""/></div>
                    <div class="promociones__item__discount__promo">35%</div>
                  </div>
                  <div class="promociones__item__info">
                    <div class="promociones__item__title">
                      <h3>Posadas del inca Yucay</h3>
                    </div>
                    <div class="promociones__item__text">
                      <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                    </div>
                    <div class="button__content-home"><span class="button__promocion-home btn-orange">LIMA - PERÚ</span></div>
                  </div>
                </div></a></li>
            <li class="promocion__item"><a class="promociones__item" href="#">
                <div class="promociones__item__image" style="background-image: url('./assets/img/promociones-item.jpg');"></div>
                <div class="promociones__item__content">
                  <div class="promociones__item__discount promociones__item__discount--percentage">
                    <div class="promociones__item__discount__logo"><img src="./assets/img/item-logo.png" alt=""/></div>
                    <div class="promociones__item__discount__promo">35%</div>
                  </div>
                  <div class="promociones__item__info">
                    <div class="promociones__item__title">
                      <h3>Posadas del inca Yucay</h3>
                    </div>
                    <div class="promociones__item__text">
                      <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                    </div>
                    <div class="button__content-home"><span class="button__promocion-home btn-orange">LIMA - PERÚ</span></div>
                  </div>
                </div></a></li>
            <li class="promocion__item"><a class="promociones__item" href="#">
                <div class="promociones__item__image" style="background-image: url('./assets/img/promociones-item.jpg');"></div>
                <div class="promociones__item__content">
                  <div class="promociones__item__discount promociones__item__discount--percentage">
                    <div class="promociones__item__discount__logo"><img src="./assets/img/item-logo.png" alt=""/></div>
                    <div class="promociones__item__discount__promo">35%</div>
                  </div>
                  <div class="promociones__item__info">
                    <div class="promociones__item__title">
                      <h3>Posadas del inca Yucay</h3>
                    </div>
                    <div class="promociones__item__text">
                      <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                    </div>
                    <div class="button__content-home"><span class="button__promocion-home btn-orange">LIMA - PERÚ</span></div>
                  </div>
                </div></a></li>
          </ul>
        </div>
        <div class="promocion__button">
          <div class="promocion__general">
            <div class="promocion__g__btn">
              <h3>Más descuentos aquí</h3>
              <div class="btn__circule"></div>
            </div>
          </div>
        </div>
        <div class="promocion__banner">
          <div class="promocion__banner__publicidad" style="background-image: url('./assets/img/productos-publicidad-foot.png');"></div>
        </div>
      </div>
    </section>
    <section class="membresia__activa">
      <div class="promocion__wrapp">
        <div class="membresia__activa__wrap">
          <div class="membresia__activa__box">
            <div class="membresia__activa__item">
              <div class="membresia__bgc" style="background-image: url(./assets/img/membresia-bgc.png);">
                <div class="membresia__bgc__icon"><img src="./assets/img/membresia-icon1.png" alt=""/></div>
                <div class="membresia__bgc__text">
                  <h3>Ingrese tu código y comienza a disfrutar de nuestros beneficios</h3>
                </div>
                <div class="membresia__bgc__buttont"><a href="">
                    <div class="promocion__general">
                      <div class="promocion__g__btn">
                        <h3>Más descuentos aquí</h3>
                        <div class="btn__circule"></div>
                      </div>
                    </div></a></div>
              </div>
            </div>
            <div class="membresia__activa__item">
              <div class="membresia__bgc" style="background-image: url(./assets/img/membresia-bgc1.png);">
                <div class="membresia__bgc__icon"><img src="./assets/img/membresia-icon2.png" alt=""/></div>
                <div class="membresia__bgc__text">
                  <h3>¡Inicia sesión, sube y administra todas tus promociones!</h3>
                </div>
                <div class="membresia__bgc__buttont"><a href="">
                    <div class="promocion__general">
                      <div class="promocion__g__btn">
                        <h3>Más descuentos aquí</h3>
                        <div class="btn__circule"></div>
                      </div>
                    </div></a></div>
              </div>
            </div>
            <div class="membresia__activa__item">
              <div class="membresia__bgc" style="background-image: url(./assets/img/membresia-bgc3.png);">
                <div class="membresia__bgc__icon"><img src="./assets/img/membresia-icon3.png" alt=""/></div>
                <div class="membresia__bgc__text">
                  <h3>Hasta 50% de descuento en muchos establecimientos</h3>
                </div>
                <div class="membresia__bgc__buttont"><a href="">
                    <div class="promocion__general">
                      <div class="promocion__g__btn">
                        <h3>Más descuentos aquí</h3>
                        <div class="btn__circule"></div>
                      </div>
                    </div></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="promocion__banner">
          <div class="promocion__banner__publicidad" style="background-image: url('./assets/img/productos-publicidad-foot.png');"></div>
        </div>
      </div>
    </section>
    <section class="marcas__drawing">
      <div class="drawing-container" id="drawing-container"></div>
      <div class="drawing__responsive__img">
        <div class="drawing__reponsive__items">
          <div class="drawing__banner__card" style="background-image: url('./assets/img/tarjeta-1.jpg');"></div>
          <div class="drawing__banner__card" style="background-image: url('./assets/img/tarjeta-2.jpg');"></div>
        </div>
      </div>
    </section>
    <section class="slider__membresia__logos home-slider-membresia--overflow">
      <div class="slider__membresia__wrapp__content">
        <div class="slider__membresia">
          <h2>Marcas afiliadas</h2>
        </div>
        <ul class="slider__items__logos">
          <li class="slider__items__img"><img src="./assets/img/item-slider-logos.jpg"/></li>
          <li class="slider__items__img"><img src="./assets/img/item-slider-logos2.jpg"/></li>
          <li class="slider__items__img"><img src="./assets/img/item-slider-logos3.jpg"/></li>
          <li class="slider__items__img"><img src="./assets/img/item-slider-logos4.jpg"/></li>
          <li class="slider__items__img"><img src="./assets/img/item-slider-logos5.jpg"/></li>
          <li class="slider__items__img"><img src="./assets/img/item-slider-logos6.jpg"/></li>
          <li class="slider__items__img"><img src="./assets/img/item-slider-logos7.jpg"/></li>
          <li class="slider__items__img"><img src="./assets/img/item-slider-logos7.jpg"/></li>
        </ul>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="./assets/js/slick/slick.js"></script>
    <script src="./assets/js/slick/slick.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src=".././assets/js/drawing.js"></script>
    <script src="./assets/js/select2/select2.full.js"></script>
    <script>
      $(()=>{
      
      	$('.banner__form__block').clone().appendTo('.banner__home--clone').removeClass('banner__form__block').addClass('banner__form__block__responsive');
      	
      	
      	if($(window).width()<768){
      		$('.banner__form__block').remove();
      	}
      
      	function format (option) {
      		console.log(option);
      		if (!option.id) { return option.text; }
      		var ob = option.text + '<img src="./assets/img/proximamente.png" />';
      		return ob;
      	};
      
      	$(".select--select2--image").select2({
      		allowClear: false,
      		templateResult: format,
      		escapeMarkup: function format(m) {
      			return m;
      		}
      	});
      
      	$(".select--select2").select2();
      
      	//code here ------
      	$('.productos__box__item').slick({
      		arrows: true,
      		dots: false,
      		infinite: true,
      		autoplay: false,
      		slidesToShow: 4,
      		nextText: '',
      		prevText: '',
      		slidesToScroll: 4,
      		responsive: [
      			{
      			breakpoint: 980,
      			settings: {
      				slidesToShow: 3,
      				speed: 1000,
      				slidesToScroll: 1
      				}
      			},
      			{
      			breakpoint: 780,
      			settings: {
      				slidesToShow: 2,
      				speed: 800,
      				slidesToScroll: 1
      				}
      			},
      			{
      			breakpoint: 480,
      			settings: {
      				slidesToShow: 1,
      				speed: 750,
      				slidesToScroll: 1
      				}
      			},
      			
      
      		]
      	});
      	$('.slider__items__logos').slick({
      		arrows: true,
      		dots: false,
      		infinite: true,
      		autoplay: false,
      		slidesToShow: 7,
      		nextText: '',
      		prevText: '',
      		slidesToScroll: 4,
      		responsive: [
      			{
      			breakpoint: 980,
      			settings: {
      				slidesToShow: 4,
      				speed: 1000,
      				slidesToScroll: 1,
      				}
      			},
      			{
      			breakpoint: 780,
      			settings: {
      				slidesToShow: 3,
      				speed: 800,
      				slidesToScroll: 1,
      				}
      			},
      			{
      			breakpoint: 480,
      			settings: {
      				slidesToShow: 2,
      				speed: 750,
      				slidesToScroll: 1,
      				}
      			},
      		]
      	});
      	drawing.init({
      		container: $('#drawing-container'),
      		imgLeft: './assets/img/AZUL.jpg',
      		imgRight: './assets/img/NEGRO.jpg',
      		drag: $('.drawing-container__move'),
      	})
      })
    </script>
  </body>
</html>
