programing/informacion-tarjeta.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="./assets/js/slick/slick.css"/>
    <link rel="stylesheet" href="./assets/js/slick/slick-theme.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>información de tarjeta</title>
  </head>
  <body class="class">
    <div class="informacion__tarjeta__banner" style="background-image: url('./assets/img/corporativo-img-bg.jpg');">
      <div class="informacion__tarjeta__banner__container">
        <div class="informacion__tarjeta__banner__title">
          <h4>Tarjeta GlobalPass élite</h4>
          <h3>¡Mira los Beneficions que tiene tu tarjeta GlobalPass para ti!</h3>
        </div>
      </div>
    </div>
    <div class="corporativo__tarjeta__wrap">
      <div class="corporativo__tarjeta__container">
        <div class="corporativo__tarjeta__table">
          <div class="corporativo__tarjeta__right">
            <div class="corporativo__tarjeta__right__slider">
              <ul class="corporativo__tarjeta__right--pitcher">
                <li>
                  <div class="corporativo__tarjeta__right__item">
                    <div class="corporativo__tarjeta__right__image"><img src="./assets/img/corporativo-img.png" alt=""/></div>
                    <div class="corporativo__tarjeta__right__info">
                      <div class="corporativo__tarjeta__right__info__title">
                        <h3>HOTELES</h3>
                      </div>
                      <div class="corporativo__tarjeta__right__info__text">
                        <p>Ahorre hasta un 70% en todos los hoteles y complejos turísticos de calidad superior en todas partes del mundo.</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="corporativo__tarjeta__right__item">
                    <div class="corporativo__tarjeta__right__image"><img src="./assets/img/corporativo-img.png" alt=""/></div>
                    <div class="corporativo__tarjeta__right__info">
                      <div class="corporativo__tarjeta__right__info__title">
                        <h3>HOTELES</h3>
                      </div>
                      <div class="corporativo__tarjeta__right__info__text">
                        <p>Ahorre hasta un 70% en todos los hoteles y complejos turísticos de calidad superior en todas partes del mundo.</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="corporativo__tarjeta__right__item">
                    <div class="corporativo__tarjeta__right__image"><img src="./assets/img/corporativo-img.png" alt=""/></div>
                    <div class="corporativo__tarjeta__right__info">
                      <div class="corporativo__tarjeta__right__info__title">
                        <h3>HOTELES</h3>
                      </div>
                      <div class="corporativo__tarjeta__right__info__text">
                        <p>Ahorre hasta un 70% en todos los hoteles y complejos turísticos de calidad superior en todas partes del mundo.</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="corporativo__tarjeta__right__item">
                    <div class="corporativo__tarjeta__right__image"><img src="./assets/img/corporativo-img.png" alt=""/></div>
                    <div class="corporativo__tarjeta__right__info">
                      <div class="corporativo__tarjeta__right__info__title">
                        <h3>HOTELES</h3>
                      </div>
                      <div class="corporativo__tarjeta__right__info__text">
                        <p>Ahorre hasta un 70% en todos los hoteles y complejos turísticos de calidad superior en todas partes del mundo.</p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="corporativo__tarjeta__left">
            <div class="corporativo__tarjeta__img__image"><img src="./assets/img/info-tarjeta-img.png" alt=""/></div>
          </div>
          <div class="informacion__tarjeta--btn-movil"><a class="btn informacion__tarjeta--color" href="solicita-tarjeta.html" target="_self">Solicita tu tarjeta aquí</a></div>
        </div>
      </div>
    </div>
    <div class="informacion__tarjeta__slider">
      <div class="informacion__tarjeta__slider__container">
        <div class="informacion__tarjeta__title">
          <h3>Ofrecemos las mejores marcas</h3>
        </div>
        <div class="informacion__tarjeta__slider__slider">
          <ul class="informacion__tarjeta__slider--pitcher">
            <li><a class="informacion__tarjeta__slider__item" href="#"><img src="./assets/img/info-tarjeta-img-slider.png" alt=""/></a></li>
            <li><a class="informacion__tarjeta__slider__item" href="#"><img src="./assets/img/info-tarjeta-img-slider.png" alt=""/></a></li>
            <li><a class="informacion__tarjeta__slider__item" href="#"><img src="./assets/img/info-tarjeta-img-slider.png" alt=""/></a></li>
            <li><a class="informacion__tarjeta__slider__item" href="#"><img src="./assets/img/info-tarjeta-img-slider.png" alt=""/></a></li>
            <li><a class="informacion__tarjeta__slider__item" href="#"><img src="./assets/img/info-tarjeta-img-slider.png" alt=""/></a></li>
            <li><a class="informacion__tarjeta__slider__item" href="#"><img src="./assets/img/info-tarjeta-img-slider.png" alt=""/></a></li>
            <li><a class="informacion__tarjeta__slider__item" href="#"><img src="./assets/img/info-tarjeta-img-slider.png" alt=""/></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="informacion__tarjeta__dudas">
      <div class="informacion__tarjeta__dudas__container">
        <div class="informacion__tarjeta__dudas__image"><a href="solicita-tarjeta.html" target="_self">
            <div class="informacion__tarjeta__button-content">
              <div class="informacion__tarjeta__button"><span class="informacion__tarjeta--circle"><span class="informacion__tarjeta--text">Solicita tu tarjeta aquí</span></span></div>
            </div></a>
          <div class="informacion__tarjeta__dudas__image__img" style="background-image: url('./assets/img/img-girl-informacion.jpg');"></div>
        </div>
        <div class="informacion__tarjeta__dudas__acordion">
          <div class="informacion__tarjeta__dudas__acordion__title">
            <h3>¿Alguna duda? Resuelvelas aquí</h3>
          </div>
          <div class="informacion__tarjeta__dudas__acordion__wrap">
            <div class="informacion__tarjeta__dudas__acordion__item">
              <div class="informacion__tarjeta__dudas__item__title informacion__acordion--pitcher">
                <h3>¿Cuándo me abonarán los puntos multiplicados por 5 de las compras online?</h3><span class="informacion__tarjeta__dudas__icon icon-17"></span>
              </div>
              <div class="informacion__tarjeta__dudas__item__content">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.</p>
              </div>
            </div>
          </div>
          <div class="informacion__tarjeta__dudas__acordion__item">
            <div class="informacion__tarjeta__dudas__item__title informacion__acordion--pitcher">
              <h3>¿Cuándo me abonarán los puntos multiplicados por 5 de las compras online?</h3><span class="informacion__tarjeta__dudas__icon icon-17"></span>
            </div>
            <div class="informacion__tarjeta__dudas__item__content">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.</p>
            </div>
          </div>
          <div class="informacion__tarjeta__dudas__acordion__item">
            <div class="informacion__tarjeta__dudas__item__title informacion__acordion--pitcher">
              <h3>¿Cuándo me abonarán los puntos multiplicados por 5 de las compras online?</h3><span class="informacion__tarjeta__dudas__icon icon-17"></span>
            </div>
            <div class="informacion__tarjeta__dudas__item__content">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.</p>
            </div>
          </div>
          <div class="informacion__tarjeta__dudas__acordion__item">
            <div class="informacion__tarjeta__dudas__item__title informacion__acordion--pitcher">
              <h3>¿Cuándo me abonarán los puntos multiplicados por 5 de las compras online?</h3><span class="informacion__tarjeta__dudas__icon icon-17"></span>
            </div>
            <div class="informacion__tarjeta__dudas__item__content">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="informacion__block__link">
      <div class="informacion__block__link__container">
        <div class="informacion__block__link__left">
          <div class="informacion__block__link__img__card"><img src="./assets/img/tarjeta-infromacion.png" alt=""/></div>
          <div class="informacion__block__link__text">
            <p>¡Tu tarjeta <strong>GlobalPass Internacional </strong>	también te espera!</p>
          </div>
        </div>
        <div class="informacion__block__link__button"><a class="btn-general btn-blue btn-general--before--hover-box-blue btn-general--padding-right" href="">Mas Información
            <div class="btn-general--before"></div></a></div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="./assets/js/slick/slick.min.js"></script>
    <script>
      $(()=>{
      	$('.corporativo__tarjeta__right--pitcher').slick({
      	slidesToShow: 3,
      	slidesToScroll: 1,
      	infinite: true,
      	autoplay: false,
      	arrows: true,
      	 responsive: [
      		{
      			breakpoint: 1024,
      			settings: {
      				slidesToShow: 2,
      				slidesToScroll: 1
      			}
      		},
      		{
      			breakpoint: 480,
      			settings: {
      				slidesToShow: 1,
      				slidesToScroll: 1
      			}
      		}
      	]
      });
      
      $('.informacion__tarjeta__slider--pitcher').slick({
      	slidesToShow: 5,
      	slidesToScroll: 1,
      	infinite: true,
      	autoplay: true,
      	arrows: false,
      	 responsive: [
      		{
      			breakpoint: 1400,
      			settings: {
      				slidesToShow: 4,
      				slidesToScroll: 1
      			}
      		},
      		{
      			breakpoint: 840,
      			settings: {
      				slidesToShow: 3,
      				slidesToScroll: 1
      			}
      		},
      		{
      			breakpoint: 640,
      			settings: {
      				slidesToShow: 2,
      				slidesToScroll: 1
      			}
      		},
      		{
      			breakpoint: 480,
      			settings: {
      				slidesToShow: 1,
      				slidesToScroll: 1
      			}
      		}
      	]
      });
      
      $('.informacion__tarjeta__dudas__acordion__item:nth-child(1) .informacion__tarjeta__dudas__item__title').addClass('active');
      	$('.informacion__tarjeta__dudas__acordion__item:nth-child(1) .informacion__tarjeta__dudas__item__content').addClass('active');
      
      	 $('.informacion__acordion--pitcher').click(function(e){
      		e.preventDefault();
      		if ($(this).hasClass('active')) {
      			$(this).removeClass('active').parent().find('.informacion__tarjeta__dudas__item__content').stop().slideUp();
      		}else{
      			$('.informacion__tarjeta__dudas__item__title').removeClass('active');
      			$('.informacion__tarjeta__dudas__item__content').stop().slideUp();
      			$(this).addClass('active').parent().find('.informacion__tarjeta__dudas__item__content').stop().slideToggle();
      		};
      	 });
      
      })
      	
    </script>
  </body>
</html>

src/pages/informacion-tarjeta.pug
extends ./_common/base.pug
//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var title = 'información de tarjeta'
	- var bodyClass = 'class'
//- ---
	
//- Contenido
block content
	.informacion__tarjeta__banner(style=`background-image: url('${STATIC_URL}img/corporativo-img-bg.jpg')`)
		.informacion__tarjeta__banner__container
			.informacion__tarjeta__banner__title
				h4 Tarjeta GlobalPass élite
				h3 ¡Mira los Beneficions que tiene tu tarjeta GlobalPass para ti!

	.corporativo__tarjeta__wrap
		.corporativo__tarjeta__container
			.corporativo__tarjeta__table
				.corporativo__tarjeta__right
					.corporativo__tarjeta__right__slider
						ul.corporativo__tarjeta__right--pitcher
							li
								.corporativo__tarjeta__right__item
									.corporativo__tarjeta__right__image
										img(src=`${STATIC_URL}img/corporativo-img.png`, alt="")
									.corporativo__tarjeta__right__info
										.corporativo__tarjeta__right__info__title
											h3 HOTELES
										.corporativo__tarjeta__right__info__text
											p Ahorre hasta un 70% en todos los hoteles y complejos turísticos de calidad superior en todas partes del mundo.
							li
								.corporativo__tarjeta__right__item
									.corporativo__tarjeta__right__image
										img(src=`${STATIC_URL}img/corporativo-img.png`, alt="")
									.corporativo__tarjeta__right__info
										.corporativo__tarjeta__right__info__title
											h3 HOTELES
										.corporativo__tarjeta__right__info__text
											p Ahorre hasta un 70% en todos los hoteles y complejos turísticos de calidad superior en todas partes del mundo.
							li
								.corporativo__tarjeta__right__item
									.corporativo__tarjeta__right__image
										img(src=`${STATIC_URL}img/corporativo-img.png`, alt="")
									.corporativo__tarjeta__right__info
										.corporativo__tarjeta__right__info__title
											h3 HOTELES
										.corporativo__tarjeta__right__info__text
											p Ahorre hasta un 70% en todos los hoteles y complejos turísticos de calidad superior en todas partes del mundo.
							li
								.corporativo__tarjeta__right__item
									.corporativo__tarjeta__right__image
										img(src=`${STATIC_URL}img/corporativo-img.png`, alt="")
									.corporativo__tarjeta__right__info
										.corporativo__tarjeta__right__info__title
											h3 HOTELES
										.corporativo__tarjeta__right__info__text
											p Ahorre hasta un 70% en todos los hoteles y complejos turísticos de calidad superior en todas partes del mundo.
				.corporativo__tarjeta__left
					.corporativo__tarjeta__img__image
						img(src=`${STATIC_URL}img/info-tarjeta-img.png`, alt="")
				.informacion__tarjeta--btn-movil
					a.btn.informacion__tarjeta--color(href='solicita-tarjeta.html', target='_self') Solicita tu tarjeta aquí
	.informacion__tarjeta__slider
		.informacion__tarjeta__slider__container
			.informacion__tarjeta__title
				h3 Ofrecemos las mejores marcas
			.informacion__tarjeta__slider__slider
				ul.informacion__tarjeta__slider--pitcher
					li
						a(href="#").informacion__tarjeta__slider__item
							img(src=`${STATIC_URL}img/info-tarjeta-img-slider.png`, alt="")
					li
						a(href="#").informacion__tarjeta__slider__item
							img(src=`${STATIC_URL}img/info-tarjeta-img-slider.png`, alt="")
					li
						a(href="#").informacion__tarjeta__slider__item
							img(src=`${STATIC_URL}img/info-tarjeta-img-slider.png`, alt="")
					li
						a(href="#").informacion__tarjeta__slider__item
							img(src=`${STATIC_URL}img/info-tarjeta-img-slider.png`, alt="")
					li
						a(href="#").informacion__tarjeta__slider__item
							img(src=`${STATIC_URL}img/info-tarjeta-img-slider.png`, alt="")
					li
						a(href="#").informacion__tarjeta__slider__item
							img(src=`${STATIC_URL}img/info-tarjeta-img-slider.png`, alt="")
					li
						a(href="#").informacion__tarjeta__slider__item
							img(src=`${STATIC_URL}img/info-tarjeta-img-slider.png`, alt="")

	.informacion__tarjeta__dudas
		.informacion__tarjeta__dudas__container
			.informacion__tarjeta__dudas__image
				a(href='solicita-tarjeta.html', target='_self')
					.informacion__tarjeta__button-content
						.informacion__tarjeta__button
							span.informacion__tarjeta--circle
								span.informacion__tarjeta--text Solicita tu tarjeta aquí
				.informacion__tarjeta__dudas__image__img(style=`background-image: url('${STATIC_URL}img/img-girl-informacion.jpg')`)
			.informacion__tarjeta__dudas__acordion
				.informacion__tarjeta__dudas__acordion__title
					h3 ¿Alguna duda? Resuelvelas aquí
				.informacion__tarjeta__dudas__acordion__wrap
					.informacion__tarjeta__dudas__acordion__item
						.informacion__tarjeta__dudas__item__title.informacion__acordion--pitcher
							h3 ¿Cuándo me abonarán los puntos multiplicados por 5 de las compras online?
							span.informacion__tarjeta__dudas__icon.icon-17
						.informacion__tarjeta__dudas__item__content
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.
				.informacion__tarjeta__dudas__acordion__item
						.informacion__tarjeta__dudas__item__title.informacion__acordion--pitcher
							h3 ¿Cuándo me abonarán los puntos multiplicados por 5 de las compras online?
							span.informacion__tarjeta__dudas__icon.icon-17
						.informacion__tarjeta__dudas__item__content
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.
				.informacion__tarjeta__dudas__acordion__item
						.informacion__tarjeta__dudas__item__title.informacion__acordion--pitcher
							h3 ¿Cuándo me abonarán los puntos multiplicados por 5 de las compras online?
							span.informacion__tarjeta__dudas__icon.icon-17
						.informacion__tarjeta__dudas__item__content
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.
				.informacion__tarjeta__dudas__acordion__item
						.informacion__tarjeta__dudas__item__title.informacion__acordion--pitcher
							h3 ¿Cuándo me abonarán los puntos multiplicados por 5 de las compras online?
							span.informacion__tarjeta__dudas__icon.icon-17
						.informacion__tarjeta__dudas__item__content
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.

	.informacion__block__link
		.informacion__block__link__container
			.informacion__block__link__left
				.informacion__block__link__img__card
					img(src=`${STATIC_URL}img/tarjeta-infromacion.png`, alt="")
				.informacion__block__link__text
					p ¡Tu tarjeta 
						strong GlobalPass Internacional 
						|	también te espera!
			.informacion__block__link__button
				a.btn-general.btn-blue.btn-general--before--hover-box-blue.btn-general--padding-right(href='') Mas Información
					.btn-general--before
//- js
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			$('.corporativo__tarjeta__right--pitcher').slick({
			slidesToShow: 3,
			slidesToScroll: 1,
			infinite: true,
			autoplay: false,
			arrows: true,
			 responsive: [
				{
					breakpoint: 1024,
					settings: {
						slidesToShow: 2,
						slidesToScroll: 1
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1
					}
				}
			]
		});

		$('.informacion__tarjeta__slider--pitcher').slick({
			slidesToShow: 5,
			slidesToScroll: 1,
			infinite: true,
			autoplay: true,
			arrows: false,
			 responsive: [
				{
					breakpoint: 1400,
					settings: {
						slidesToShow: 4,
						slidesToScroll: 1
					}
				},
				{
					breakpoint: 840,
					settings: {
						slidesToShow: 3,
						slidesToScroll: 1
					}
				},
				{
					breakpoint: 640,
					settings: {
						slidesToShow: 2,
						slidesToScroll: 1
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1
					}
				}
			]
		});

		$('.informacion__tarjeta__dudas__acordion__item:nth-child(1) .informacion__tarjeta__dudas__item__title').addClass('active');
			$('.informacion__tarjeta__dudas__acordion__item:nth-child(1) .informacion__tarjeta__dudas__item__content').addClass('active');

			 $('.informacion__acordion--pitcher').click(function(e){
				e.preventDefault();
				if ($(this).hasClass('active')) {
					$(this).removeClass('active').parent().find('.informacion__tarjeta__dudas__item__content').stop().slideUp();
				}else{
					$('.informacion__tarjeta__dudas__item__title').removeClass('active');
					$('.informacion__tarjeta__dudas__item__content').stop().slideUp();
					$(this).addClass('active').parent().find('.informacion__tarjeta__dudas__item__content').stop().slideToggle();
				};
			 });

		})
			
