src/pages/libro-reclamaciones.pug
extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var title = 'Libro de Reclamaciones'
	- var bodyClass = 'class'
//- ---

block content
	//- Contenido
	section.b42
		main.b42Main
			.b42__title
				h2 Libro de Reclamaciones
			.b42Form
				form#b42FormLibRec(action='')
					.b42Wrap
						.b42BoxItem
							.b42Subtitle
								h3 Identificación del consumidor reclamante
							.b42Campos
								ul
									li.b42InputTwo
										.g-input
											input(type='text', class='validate[required]', placeholder='Nombre')
										.g-input
											input(type='text', class='validate[required]', placeholder='Apellido')
									li.b42InputTwo
										.g-input
											input(type='text', class='validate[required,custom[email]]', placeholder='Email')
										.g-input
											input(type='text', class='validate[required]', placeholder='Teléfono')
									li.b42InputTwo
										.g-input.g-select
											select(class='validate[required]')
												option(value='') Documento de identidad
												option(value='') RUC
												option(value='') Licencia3
										.g-input
											input(type='text', class='validate[required]', placeholder='')
									li
										.g-input
											input(type='text', class='validate[required]', placeholder='Padre o Madre (nombre del padre o madre para los casos de menores de edad)')
						.b42BoxItem
							.b42Subtitle
								h3 Identificación del bien contratado
							.b42Campos
								ul
									li.b42InputTwo
										.g-input.g-select
											select(class='validate[required]')
												option(value='') Seleccione
												option(value='') opcion1
												option(value='') opcion2
									li
										.g-input
											input(type='text', class='validate[required]', placeholder='Monto de reclamado')
									li
										.g-input
											textarea(class='validate[required]', placeholder='Descripcion')
						.b42BoxItem
							.b42Subtitle
								h3 Detalle de la reclamación y pedido del consumidor
							.b42Campos
								ul
									li.b42InputTwo
										.g-input.g-select
											select(class='validate[required]')
												option(value='') Seleccione
												option(value='') opcion1
												option(value='') opcion2
									li
										.g-input
											textarea(class='validate[required]', placeholder='Detalle')
									li
										.g-input
											textarea(class='validate[required]', placeholder='Pedido')
					.b42Foot
						.b42Text
							p
								strong RECLAMO:
								| Disconformidad relacionada a los productos y servicios.
							p
								strong QUEJA:
								| Disconformidad no relacionada a los productos o servicios o malestar 
						.b42CntBtns
							.b42BtnItem
								a.btn-orange.btn-filtro(href='') Limpiar
							.b42BtnItem
								button.btn-orange.btn-filtro(href='') Enviar
								

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})

programing/libro-reclamaciones.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>Libro de Reclamaciones</title>
  </head>
  <body class="class">
    <section class="b42">
      <main class="b42Main">
        <div class="b42__title">
          <h2>Libro de Reclamaciones</h2>
        </div>
        <div class="b42Form">
          <form id="b42FormLibRec" action="">
            <div class="b42Wrap">
              <div class="b42BoxItem">
                <div class="b42Subtitle">
                  <h3>Identificación del consumidor reclamante</h3>
                </div>
                <div class="b42Campos">
                  <ul>
                    <li class="b42InputTwo">
                      <div class="g-input">
                        <input class="validate[required]" type="text" placeholder="Nombre"/>
                      </div>
                      <div class="g-input">
                        <input class="validate[required]" type="text" placeholder="Apellido"/>
                      </div>
                    </li>
                    <li class="b42InputTwo">
                      <div class="g-input">
                        <input class="validate[required,custom[email]]" type="text" placeholder="Email"/>
                      </div>
                      <div class="g-input">
                        <input class="validate[required]" type="text" placeholder="Teléfono"/>
                      </div>
                    </li>
                    <li class="b42InputTwo">
                      <div class="g-input g-select">
                        <select class="validate[required]">
                          <option value="">Documento de identidad</option>
                          <option value="">RUC</option>
                          <option value="">Licencia3</option>
                        </select>
                      </div>
                      <div class="g-input">
                        <input class="validate[required]" type="text" placeholder=""/>
                      </div>
                    </li>
                    <li>
                      <div class="g-input">
                        <input class="validate[required]" type="text" placeholder="Padre o Madre (nombre del padre o madre para los casos de menores de edad)"/>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="b42BoxItem">
                <div class="b42Subtitle">
                  <h3>Identificación del bien contratado</h3>
                </div>
                <div class="b42Campos">
                  <ul>
                    <li class="b42InputTwo">
                      <div class="g-input g-select">
                        <select class="validate[required]">
                          <option value="">Seleccione</option>
                          <option value="">opcion1</option>
                          <option value="">opcion2</option>
                        </select>
                      </div>
                    </li>
                    <li>
                      <div class="g-input">
                        <input class="validate[required]" type="text" placeholder="Monto de reclamado"/>
                      </div>
                    </li>
                    <li>
                      <div class="g-input">
                        <textarea class="validate[required]" placeholder="Descripcion"></textarea>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="b42BoxItem">
                <div class="b42Subtitle">
                  <h3>Detalle de la reclamación y pedido del consumidor</h3>
                </div>
                <div class="b42Campos">
                  <ul>
                    <li class="b42InputTwo">
                      <div class="g-input g-select">
                        <select class="validate[required]">
                          <option value="">Seleccione</option>
                          <option value="">opcion1</option>
                          <option value="">opcion2</option>
                        </select>
                      </div>
                    </li>
                    <li>
                      <div class="g-input">
                        <textarea class="validate[required]" placeholder="Detalle"></textarea>
                      </div>
                    </li>
                    <li>
                      <div class="g-input">
                        <textarea class="validate[required]" placeholder="Pedido"></textarea>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="b42Foot">
              <div class="b42Text">
                <p><strong>RECLAMO:</strong>Disconformidad relacionada a los productos y servicios.</p>
                <p><strong>QUEJA:</strong>Disconformidad no relacionada a los productos o servicios o malestar </p>
              </div>
              <div class="b42CntBtns">
                <div class="b42BtnItem"><a class="btn-orange btn-filtro" href="">Limpiar</a></div>
                <div class="b42BtnItem">
                  <button class="btn-orange btn-filtro" href="">Enviar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </main>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
      $(()=>{
      	//code here ------
      })
    </script>
  </body>
</html>
