src/pages/membresia.pug
extends ./_common/base.pug
//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var title = 'membresia'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.membresia
		.membresia__content
			//- .activacion__img(style="background-image: url('/assets/img/img-activacion-form.jpg')")
			.activacion__img-content.membresia__img-tarjeta
				img.activacion__img--jpg.membresia--img-tarjeta(src=`${STATIC_URL}img/img-activacion-form.jpg`, width="", height="", alt="")
			form.activacion__form#activacionForm
				.titulo-form 
					p
						| Consultar membresía
						strong
							| Ingrese aquí el código enviado junto a su tarjeta. Los Códigos presentan mayúsculas y minúsculas.
				.mi-cuenta__ul-content 
					ul
						.input-one-content.input--margin-top.input-one-content--padding-bottom.activacion--max-width
							input.input-two(name='', type='', placeholder='Escribe tu código' class="validate[required]")
							span
								button.input-two__btn-span.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') verificar
									.btn-general--before
					message--alert
					.box-message--alert
						span.box-message__content.box-message--red
							.box-message--ico2
							.box-message ¡El código de la tarjeta es inválido!
					//- message--alert
					.box-message--alert
						span.box-message__content.box-message--green
							.box-message--ico1
							.box-message ¡El código de la tarjeta es válido!
					.membresia__datos.membresia--padding-bottom
						p
							| Nombre: 
							strong Yoswa Gómez
						p
							| Documento de Identidad:  
							strong 78920202

							//- span.activacion--mensaje-red
							//- 	¡El código de la tarjeta es inválido!
							
												
//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("#activacionForm").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true,
				"onlyNumber": {
						"regex": /^[0-9\ ]+$/,
						"alertText": "* Numbers only"
				},
				onValidationComplete: function(form, status){
					console.log(form)
					console.log(status)
				}  
			});
			//- k
			//- var formBox = $(".contac__input input, .contac__input textarea")
			var formBox = $(".input-one-content input")
			$(formBox).focusin(function() {
				$(this).parent().addClass('active');
			});

			$(formBox).focusout(function() {
				if ($(this).val() === "") {
					$(this).parent().removeClass('active');
				};
			});
		});


	//- script.
	//- 	$(function() {
	//- 		$('.mi-cuenta__form').validationEngine({
	//- 			promptPosition: "topLeft",
	//- 			scroll: false
	//- 		});
	//- 		$('.contc-info').eq(0).addClass('active');
	//- 		$('.contact-tabs a').click(function(e) {
	//- 			e.preventDefault();
	//- 			$('.contact-tabs a').removeClass('active');
	//- 			$(this).addClass('active');
	//- 			var dataTab = $(this).attr('data-tab');
	//- 			$('.contc-info').removeClass('active');
	//- 			$('.contc-info[id="'+dataTab+'"]').addClass('active');
	//- 		});

programing/membresia.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="./assets/js/validationform/validationEngine.jquery.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>membresia</title>
  </head>
  <body class="class">
    <section class="membresia">
      <div class="membresia__content">
        <div class="activacion__img-content membresia__img-tarjeta"><img class="activacion__img--jpg membresia--img-tarjeta" src="./assets/img/img-activacion-form.jpg" width="" height="" alt=""/></div>
        <form class="activacion__form" id="activacionForm">
          <div class="titulo-form"> 
            <p>Consultar membresía<strong>Ingrese aquí el código enviado junto a su tarjeta. Los Códigos presentan mayúsculas y minúsculas.</strong></p>
          </div>
          <div class="mi-cuenta__ul-content"> 
            <ul>
              <div class="input-one-content input--margin-top input-one-content--padding-bottom activacion--max-width">
                <input class="input-two validate[required]" name="" type="" placeholder="Escribe tu código"/><span>
                  <button class="input-two__btn-span btn-blue btn-general--before--hover-ico btn-general--padding-right" href="">verificar
                    <div class="btn-general--before"></div>
                  </button></span>
              </div>
            </ul>
            <message--alert></message--alert>
            <div class="box-message--alert"><span class="box-message__content box-message--red">
                <div class="box-message--ico2"></div>
                <div class="box-message">¡El código de la tarjeta es inválido!</div></span></div>
            <div class="box-message--alert"><span class="box-message__content box-message--green">
                <div class="box-message--ico1"></div>
                <div class="box-message">¡El código de la tarjeta es válido!</div></span></div>
            <div class="membresia__datos membresia--padding-bottom">
              <p>Nombre: <strong>Yoswa Gómez</strong></p>
              <p>Documento de Identidad:  <strong>78920202</strong></p>
            </div>
          </div>
        </form>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine-es.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine.js"></script>
    <script>
      $(function() {
      	$("#activacionForm").validationEngine('attach', {
      		promptPosition : "topLeft",
      		autoHidePrompt: true,
      		autoHideDelay: 3000,
      		binded: false,
      		scroll: false,
      		validateNonVisibleFields: true,
      		"onlyNumber": {
      				"regex": /^[0-9\ ]+$/,
      				"alertText": "* Numbers only"
      		},
      		onValidationComplete: function(form, status){
      			console.log(form)
      			console.log(status)
      		}  
      	});
      	//- k
      	//- var formBox = $(".contac__input input, .contac__input textarea")
      	var formBox = $(".input-one-content input")
      	$(formBox).focusin(function() {
      		$(this).parent().addClass('active');
      	});
      
      	$(formBox).focusout(function() {
      		if ($(this).val() === "") {
      			$(this).parent().removeClass('active');
      		};
      	});
      });
      
      
    </script>
  </body>
</html>
