src/pages/mi-cuenta-registro.pug
extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var title = 'mi cuenta registro'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.mi-cuenta-registro
		.mi-cuenta-registro__content
			.mi-cuenta-registro--titulo-content
				.titulo2-form.mi-cuenta-registro--text-center
					p
						| Mi cuenta
			form.mi-cuenta-registro__form
				.mi-cuenta-registro__box-content
					.mi-cuenta-registro__box
						.mi-cuenta-registro--titulo-content
							.titulo-form
								p.mi-cuenta-registro--color-blue
									| Datos Personales
						ul
							li.input-one-content 
								a.input-one__label2 Nombres*
								input.input-three(name='', type='', placeholder='Yoswa María' class="validate[required]")
								span.input-one--span2
							li.input-one-content.mi-cuenta-registro--margin-top 
								a.input-one__label2 Apellido Materno*
								input.input-three(name='', type='', placeholder='Gomez' class="validate[required]")
								span.input-one--span2
							li.input-one-content.mi-cuenta-registro--margin-top 
								a.input-one__label2 Nº de Documento*
								input.input-three.soloNumber(name='', type='', placeholder='725 20202' class="validate[required]")
								span.input-one--span2
							li.input-one-content.mi-cuenta-registro--margin-top 
								a.input-one__label2 Correo electrónico
								input.input-three(name='', type='', placeholder='yoswa@mipag.com' class="validate[required]")
								span.input-one--span2
					.mi-cuenta-registro__box
						.mi-cuenta-registro--titulo-content
						ul
							li.input-one-content 
								a.input-one__label2 Apellido Paterno*
								input.input-three(name='', type='', placeholder='Gomez' class="validate[required]")
								span.input-one--span2
							li.input-one-content.mi-cuenta-registro--margin-top
								a.input-one__label2 Tipo de documento* 
								.input-select.n-12
									.r-input
										select(name='')
											option(value='') DNI
											option(value='1') Pasaporte
											option(value='2') Otro
								//- a.input-one__label2 Tipo de documento*
								//- select
								//- 	option(value='dni') DNI
								//- 	option(value='pasaporte') PASAPORTE
								span.input-one--span2
							li.input-one-content.mi-cuenta-registro--margin-top 
								a.input-one__label2 Teléfono
								input.input-three.soloNumber(name='', type='', placeholder='982 366 532' class="validate[required]")
								span.input-one--span2
					.mi-cuenta-registro__box2
						img.mi-cuenta-registro__img-banner(src=`${STATIC_URL}img/img-banner-mi-cuenta.jpg` alt="")
				.mi-cuenta-registro__botones-content.mi-cuenta-registro--margin-top
					a.btn-general.btn-blue.btn-general--before--hover-ico.btn-general--padding-right.mi-cuenta-contrasena--margin-right(href='') guardar cambios
						.btn-general--before
					a.btn-general.btn-white(href='') cambiar contraseña
				
//- js
append scripts 
	script(src=`${STATIC_URL}js/validation/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validation/jquery.validationEngine.js`)

	script.
		$(function() {
			//- k
			//- var formBox = $(".contac__input input, .contac__input textarea")
			var formBox = $(".input-one-content input")
			$(formBox).focusin(function() {
				$(this).parent().addClass('active');
			});

			$(formBox).focusout(function() {
				if ($(this).val() === "") {
					$(this).parent().removeClass('active');
				};
			});
		});


	//- script.
	//- 	$(function() {
	//- 		$('.mi-cuenta__form').validationEngine({
	//- 			promptPosition: "topLeft",
	//- 			scroll: false
	//- 		});
	//- 		$('.contc-info').eq(0).addClass('active');
	//- 		$('.contact-tabs a').click(function(e) {
	//- 			e.preventDefault();
	//- 			$('.contact-tabs a').removeClass('active');
	//- 			$(this).addClass('active');
	//- 			var dataTab = $(this).attr('data-tab');
	//- 			$('.contc-info').removeClass('active');
	//- 			$('.contc-info[id="'+dataTab+'"]').addClass('active');
	//- 		});

programing/mi-cuenta-registro.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>mi cuenta registro</title>
  </head>
  <body class="class">
    <section class="mi-cuenta-registro">
      <div class="mi-cuenta-registro__content">
        <div class="mi-cuenta-registro--titulo-content">
          <div class="titulo2-form mi-cuenta-registro--text-center">
            <p>Mi cuenta</p>
          </div>
        </div>
        <form class="mi-cuenta-registro__form">
          <div class="mi-cuenta-registro__box-content">
            <div class="mi-cuenta-registro__box">
              <div class="mi-cuenta-registro--titulo-content">
                <div class="titulo-form">
                  <p class="mi-cuenta-registro--color-blue">Datos Personales</p>
                </div>
              </div>
              <ul>
                <li class="input-one-content"> <a class="input-one__label2">Nombres*</a>
                  <input class="input-three validate[required]" name="" type="" placeholder="Yoswa María"/><span class="input-one--span2"></span>
                </li>
                <li class="input-one-content mi-cuenta-registro--margin-top"> <a class="input-one__label2">Apellido Materno*</a>
                  <input class="input-three validate[required]" name="" type="" placeholder="Gomez"/><span class="input-one--span2"></span>
                </li>
                <li class="input-one-content mi-cuenta-registro--margin-top"> <a class="input-one__label2">Nº de Documento*</a>
                  <input class="input-three soloNumber validate[required]" name="" type="" placeholder="725 20202"/><span class="input-one--span2"></span>
                </li>
                <li class="input-one-content mi-cuenta-registro--margin-top"> <a class="input-one__label2">Correo electrónico</a>
                  <input class="input-three validate[required]" name="" type="" placeholder="yoswa@mipag.com"/><span class="input-one--span2"></span>
                </li>
              </ul>
            </div>
            <div class="mi-cuenta-registro__box">
              <div class="mi-cuenta-registro--titulo-content"></div>
              <ul>
                <li class="input-one-content"> <a class="input-one__label2">Apellido Paterno*</a>
                  <input class="input-three validate[required]" name="" type="" placeholder="Gomez"/><span class="input-one--span2"></span>
                </li>
                <li class="input-one-content mi-cuenta-registro--margin-top"><a class="input-one__label2">Tipo de documento* </a>
                  <div class="input-select n-12">
                    <div class="r-input">
                      <select name="">
                        <option value="">DNI</option>
                        <option value="1">Pasaporte</option>
                        <option value="2">Otro</option>
                      </select>
                    </div>
                  </div><span class="input-one--span2"></span>
                </li>
                <li class="input-one-content mi-cuenta-registro--margin-top"> <a class="input-one__label2">Teléfono</a>
                  <input class="input-three soloNumber validate[required]" name="" type="" placeholder="982 366 532"/><span class="input-one--span2"></span>
                </li>
              </ul>
            </div>
            <div class="mi-cuenta-registro__box2"><img class="mi-cuenta-registro__img-banner" src="./assets/img/img-banner-mi-cuenta.jpg" alt=""/></div>
          </div>
          <div class="mi-cuenta-registro__botones-content mi-cuenta-registro--margin-top"><a class="btn-general btn-blue btn-general--before--hover-ico btn-general--padding-right mi-cuenta-contrasena--margin-right" href="">guardar cambios
              <div class="btn-general--before"></div></a><a class="btn-general btn-white" href="">cambiar contraseña</a></div>
        </form>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="./assets/js/validation/jquery.validationEngine-es.js"></script>
    <script src="./assets/js/validation/jquery.validationEngine.js"></script>
    <script>
      $(function() {
      	//- k
      	//- var formBox = $(".contac__input input, .contac__input textarea")
      	var formBox = $(".input-one-content input")
      	$(formBox).focusin(function() {
      		$(this).parent().addClass('active');
      	});
      
      	$(formBox).focusout(function() {
      		if ($(this).val() === "") {
      			$(this).parent().removeClass('active');
      		};
      	});
      });
      
      
    </script>
  </body>
</html>
