programing/mi-cuenta-contrasena.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="./assets/js/validationform/validationEngine.jquery.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>mi cuenta contraseña</title>
  </head>
  <body class="class">
    <section class="mi-cuenta-registro">
      <div class="mi-cuenta-registro__content">
        <div class="mi-cuenta-registro--titulo-content">
          <div class="titulo2-form mi-cuenta-registro--text-center">
            <p>Mi cuenta</p>
          </div>
        </div>
        <form class="mi-cuenta-registro__form" id="afiliate__form__validate">
          <div class="mi-cuenta-registro__box-content">
            <div class="mi-cuenta-contrasena__box">
              <div class="mi-cuenta-registro--titulo-content">
                <div class="titulo-form">
                  <p class="mi-cuenta-registro--color-blue">Cambiar contraseña</p>
                </div>
              </div>
              <ul>
                <li class="input-one-content"> <a class="input-one__label2">Contraseña actual*</a>
                  <input class="input-three validate[required]" name="" type="password" placeholder="*************"/><span class="input-one--span2"></span>
                </li>
              </ul>
            </div>
            <div class="mi-cuenta-contrasena__box">
              <div class="mi-cuenta-registro--titulo-content"></div>
              <ul>
                <li class="input-one-content"> <a class="input-one__label2">Nueva Contraseña*</a>
                  <input class="input-three validate[required]" name="" type="password" placeholder="*************"/><span class="input-one--span2"></span>
                </li>
              </ul>
            </div>
            <div class="mi-cuenta-contrasena__box">
              <div class="mi-cuenta-registro--titulo-content"></div>
              <ul>
                <li class="input-one-content"> <a class="input-one__label2">Repetir contraseña*</a>
                  <input class="input-three validate[required]" name="" type="password" placeholder="*************"/><span class="input-one--span2"></span>
                </li>
              </ul>
            </div>
          </div>
          <div class="mi-cuenta-contrasena__botones-box mi-cuenta-registro--margin-top"><a class="btn-general btn-white btn-general--after--hover btn-general--padding-left mi-cuenta-contrasena--margin-right" href="">volver a mi cuenta
              <div class="btn-general--after"></div></a>
            <button class="btn-general btn-blue btn-general--before--hover-ico btn-general--padding-right mi-cuenta-contrasena--margin-top" href="">guardar cambios
              <div class="btn-general--before"></div>
            </button>
          </div>
        </form>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine-es.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine.js"></script>
    <script>
      $(function() {
      	$("form").validationEngine('attach', {
      		promptPosition : "topLeft",
      		autoHidePrompt: true,
      		autoHideDelay: 3000,
      		binded: false,
      		scroll: false,
      		validateNonVisibleFields: true
      	});
      	$("#afiliate__form__validate").submit(function(e) {
      		var valid = $(this).validationEngine('validate');
      		if (!valid){
      			return false;
      		}else{
      			return true;
      		};
      	});
      });
    </script>
  </body>
</html>

src/pages/mi-cuenta-contrasena.pug
extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var title = 'mi cuenta contraseña'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.mi-cuenta-registro
		.mi-cuenta-registro__content
			.mi-cuenta-registro--titulo-content
				.titulo2-form.mi-cuenta-registro--text-center
					p
						| Mi cuenta
			form#afiliate__form__validate.mi-cuenta-registro__form
				.mi-cuenta-registro__box-content
					.mi-cuenta-contrasena__box
						.mi-cuenta-registro--titulo-content
							.titulo-form
								p.mi-cuenta-registro--color-blue
									| Cambiar contraseña
						ul
							li.input-one-content 
								a.input-one__label2 Contraseña actual*
								input.input-three(name='', type='password', placeholder='*************' class="validate[required]")
								span.input-one--span2
					.mi-cuenta-contrasena__box
						.mi-cuenta-registro--titulo-content
						ul
							li.input-one-content 
								a.input-one__label2 Nueva Contraseña*
								input.input-three(name='', type='password', placeholder='*************' class="validate[required]")
								span.input-one--span2
					.mi-cuenta-contrasena__box
						.mi-cuenta-registro--titulo-content
						ul
							li.input-one-content 
								a.input-one__label2 Repetir contraseña*
								input.input-three(name='', type='password', placeholder='*************' class="validate[required]")
								span.input-one--span2
				.mi-cuenta-contrasena__botones-box.mi-cuenta-registro--margin-top
					a.btn-general.btn-white.btn-general--after--hover.btn-general--padding-left.mi-cuenta-contrasena--margin-right(href='') volver a mi cuenta
						.btn-general--after
					button.btn-general.btn-blue.btn-general--before--hover-ico.btn-general--padding-right.mi-cuenta-contrasena--margin-top(href='') guardar cambios
						.btn-general--before
//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		});
