programing/mi-cuenta.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="./assets/js/validationform/validationEngine.jquery.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>mi cuenta</title>
  </head>
  <body class="class">
    <section class="mi-cuenta">
      <div class="mi-cuenta__content">
        <div class="mi-cuenta__img" style="background-image: url('/assets/img/img-girl-form.jpg');"></div>
        <form class="mi-cuenta__form" id="afiliate__form__validate" action="" name="">
          <div class="titulo-form"> 
            <p>Mi cuenta</p>
          </div>
          <div class="mi-cuenta__ul-content mi-cuenta--max-width"> 
            <ul>
              <li class="input-one-content input--margin-top">
                <label class="input-one__label">Dirección de correo electrónico*</label>
                <input class="input-one validate[required]" type="" name=""/><span class="input-one--span"></span>
              </li>
              <li class="input-one-content input--margin-top">
                <label class="input-one__label">Contraseña*</label>
                <input class="input-one validate[required]" type="password" name="psw"/><span class="input-one--span"></span>
              </li>
            </ul>
          </div>
          <div class="input-checkbox">
            <ul>
              <li class="general__input general__input--check--radio general__input--checkbox">
                <div class="general__input__inside">
                  <input id="check1" type="checkbox"/>
                  <label class="general__input--check--radio--label" for="check1">
                    <div class="general__input__inside__container">
                      <div class="general__input__figure"></div>
                    </div>
                  </label>
                </div>
              </li>
              <li>Guardar mis datos</li><a class="link-reset" href="/restablecer-contasena.html">¿Has olvidado tu contraseña?</a>
            </ul>
          </div>
          <div class="mi-cuenta__botones-group">
            <ul>
              <li class="mi-cuenta__padding-right">
                <button class="btn-general btn-blue btn-general--before--hover-ico btn-general--padding-right" href="">INGRESAR 
                  <div class="btn-general--before"></div>
                </button>
              </li>
              <li><a class="btn btn-white" href="">registrate</a></li>
            </ul>
          </div>
        </form>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine-es.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine.js"></script>
    <script>
      $(function() {
      	$("form").validationEngine('attach', {
      		promptPosition : "topLeft",
      		autoHidePrompt: true,
      		autoHideDelay: 3000,
      		binded: false,
      		scroll: false,
      		validateNonVisibleFields: true
      	});
      	$("#afiliate__form__validate").submit(function(e) {
      		var valid = $(this).validationEngine('validate');
      		if (!valid){
      			return false;
      		}else{
      			return true;
      		};
      	});
      });
    </script>
  </body>
</html>

src/pages/mi-cuenta.pug
extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var title = 'mi cuenta'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.mi-cuenta
		.mi-cuenta__content
			.mi-cuenta__img(style="background-image: url('/assets/img/img-girl-form.jpg')")
			form#afiliate__form__validate.mi-cuenta__form(action='', name='')
				.titulo-form 
					p
						| Mi cuenta
						//- strong
						//- 	| Ingrese aquí el código enviado junto a su tarjeta.
				.mi-cuenta__ul-content.mi-cuenta--max-width 
					ul
						li.input-one-content.input--margin-top
							label.input-one__label Dirección de correo electrónico*
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content.input--margin-top
							label.input-one__label Contraseña*
							input.input-one(type="password" name="psw", class="validate[required]")
							span.input-one--span
				
				.input-checkbox
					ul
						li.general__input.general__input--check--radio.general__input--checkbox
							.general__input__inside
								input#check1(type='checkbox')
								label.general__input--check--radio--label(for='check1')
									.general__input__inside__container
										.general__input__figure
										//- .general__input__text Checkbox
						//- li
						//- 	input(name='', type='checkbox')
						li Guardar mis datos
						a.link-reset(href="/restablecer-contasena.html") ¿Has olvidado tu contraseña?
				.mi-cuenta__botones-group
					ul
						li.mi-cuenta__padding-right
							button.btn-general.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') INGRESAR 
								.btn-general--before
						li
							a.btn.btn-white(href='') registrate
						
//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		});
