src/pages/mi-establecimiento.pug
extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var title = 'mi establecimiento'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.mi-establecimiento(style=`background-image: url('${STATIC_URL}img/img-background-registra-establecimiento.jpg')`)
		.mi-establecimiento__content
			form#afiliate__form__validate
				ul.mi-establecimiento__ul
					li.box
						img.mi-establecimiento__logo(src=`${STATIC_URL}img/img-logo-gp-registra-establecimiento.jpg` alt="")
					li.box
						.titulo-form 
							p
								| Mi establecimiento
					li.box.input-one-content.input--margin-top
						label.input-one__label Dirección de correo electrónico*
						input.input-one(type="", name="", class="validate[required]")
						span.input-one--span2
					li.box.input-one-content.input--margin-top
						label.input-one__label Contraseña*
						input.input-one(type="password" name="psw", class="validate[required]")
						span.input-one--span2
					li.box
				.input-checkbox
					ul.mi-establecimiento__ul
						li.general__input.general__input--check--radio.general__input--checkbox
							.general__input__inside
								input#check1(type='checkbox')
								label.general__input--check--radio--label(for='check1')
									.general__input__inside__container
										.general__input__figure
						li Guardar mis datos
						li 
							a.link-reset(href="") ¿Has olvidado tu contraseña?
				.mi-establecimiento__botones-group
					ul.mi-establecimiento__ul
						li.mi-establecimiento--padding-right
							a.btn-general.btn-white.btn-general--before--hover-ico.btn-general--padding-right(href='') regístrate
								.btn-general--before
						li
							button.btn-general.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') ingresar
								.btn-general--before
				

//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		});

programing/mi-establecimiento.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="./assets/js/validationform/validationEngine.jquery.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>mi establecimiento</title>
  </head>
  <body class="class">
    <section class="mi-establecimiento" style="background-image: url('./assets/img/img-background-registra-establecimiento.jpg');">
      <div class="mi-establecimiento__content">
        <form id="afiliate__form__validate">
          <ul class="mi-establecimiento__ul">
            <li class="box"><img class="mi-establecimiento__logo" src="./assets/img/img-logo-gp-registra-establecimiento.jpg" alt=""/></li>
            <li class="box">
              <div class="titulo-form"> 
                <p>Mi establecimiento</p>
              </div>
            </li>
            <li class="box input-one-content input--margin-top">
              <label class="input-one__label">Dirección de correo electrónico*</label>
              <input class="input-one validate[required]" type="" name=""/><span class="input-one--span2"></span>
            </li>
            <li class="box input-one-content input--margin-top">
              <label class="input-one__label">Contraseña*</label>
              <input class="input-one validate[required]" type="password" name="psw"/><span class="input-one--span2"></span>
            </li>
            <li class="box"></li>
          </ul>
          <div class="input-checkbox">
            <ul class="mi-establecimiento__ul">
              <li class="general__input general__input--check--radio general__input--checkbox">
                <div class="general__input__inside">
                  <input id="check1" type="checkbox"/>
                  <label class="general__input--check--radio--label" for="check1">
                    <div class="general__input__inside__container">
                      <div class="general__input__figure"></div>
                    </div>
                  </label>
                </div>
              </li>
              <li>Guardar mis datos</li>
              <li> <a class="link-reset" href="">¿Has olvidado tu contraseña?</a></li>
            </ul>
          </div>
          <div class="mi-establecimiento__botones-group">
            <ul class="mi-establecimiento__ul">
              <li class="mi-establecimiento--padding-right"><a class="btn-general btn-white btn-general--before--hover-ico btn-general--padding-right" href="">regístrate
                  <div class="btn-general--before"></div></a></li>
              <li>
                <button class="btn-general btn-blue btn-general--before--hover-ico btn-general--padding-right" href="">ingresar
                  <div class="btn-general--before"></div>
                </button>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine-es.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine.js"></script>
    <script>
      $(function() {
      	$("form").validationEngine('attach', {
      		promptPosition : "topLeft",
      		autoHidePrompt: true,
      		autoHideDelay: 3000,
      		binded: false,
      		scroll: false,
      		validateNonVisibleFields: true
      	});
      	$("#afiliate__form__validate").submit(function(e) {
      		var valid = $(this).validationEngine('validate');
      		if (!valid){
      			return false;
      		}else{
      			return true;
      		};
      	});
      });
    </script>
  </body>
</html>
