src/pages/preguntas-frecuentes.pug
extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var title = 'preguntas frecuentes'
	- var bodyClass = 'class'
//- ---
	
//- Contenido
block content
	.preguntas__frecuentes
		.preguntas__frecuentes__container
			.preguntas__frecuentes__title
				h3 Preguntas Frecuentes
			.acordion__items
				.acordion__item
					.preguntas__frecuentes__acordion__item__title.acordion--pitcher 
						h3 ¿Cuando me abonaran los puntos multiplicados por 5 de las compras online?
						span.acordion__item__icon.icon-17
					.preguntas__frecuentes__acordion__content
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.
				.acordion__item
					.preguntas__frecuentes__acordion__item__title.acordion--pitcher 
						h3 ¿Cuando me abonaran los puntos multiplicados por 5 de las compras online?
						span.acordion__item__icon.icon-17
					.preguntas__frecuentes__acordion__content
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.
				.acordion__item
					.preguntas__frecuentes__acordion__item__title.acordion--pitcher 
						h3 ¿Cuando me abonaran los puntos multiplicados por 5 de las compras online?
						span.acordion__item__icon.icon-17
					.preguntas__frecuentes__acordion__content
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.
				.acordion__item
					.preguntas__frecuentes__acordion__item__title.acordion--pitcher 
						h3 ¿Cuando me abonaran los puntos multiplicados por 5 de las compras online?
						span.acordion__item__icon.icon-17
					.preguntas__frecuentes__acordion__content
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.



//- js
append scripts 
	script.
		$(function() { 
			$('.acordion__item:nth-child(1) .preguntas__frecuentes__acordion__item__title').addClass('active');
			$('.acordion__item:nth-child(1) .preguntas__frecuentes__acordion__content').addClass('active');

			 $('.acordion--pitcher').click(function(e){
				e.preventDefault();
				if ($(this).hasClass('active')) {
					$(this).removeClass('active').parent().find('.preguntas__frecuentes__acordion__content').stop().slideUp();
				}else{
					$('.preguntas__frecuentes__acordion__item__title').removeClass('active');
					$('.preguntas__frecuentes__acordion__content').stop().slideUp();
					$(this).addClass('active').parent().find('.preguntas__frecuentes__acordion__content').stop().slideToggle();
				};
			 });


		});
			

programing/preguntas-frecuentes.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>preguntas frecuentes</title>
  </head>
  <body class="class">
    <div class="preguntas__frecuentes">
      <div class="preguntas__frecuentes__container">
        <div class="preguntas__frecuentes__title">
          <h3>Preguntas Frecuentes</h3>
        </div>
        <div class="acordion__items">
          <div class="acordion__item">
            <div class="preguntas__frecuentes__acordion__item__title acordion--pitcher"> 
              <h3>¿Cuando me abonaran los puntos multiplicados por 5 de las compras online?</h3><span class="acordion__item__icon icon-17"></span>
            </div>
            <div class="preguntas__frecuentes__acordion__content">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.</p>
            </div>
          </div>
          <div class="acordion__item">
            <div class="preguntas__frecuentes__acordion__item__title acordion--pitcher"> 
              <h3>¿Cuando me abonaran los puntos multiplicados por 5 de las compras online?</h3><span class="acordion__item__icon icon-17"></span>
            </div>
            <div class="preguntas__frecuentes__acordion__content">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.</p>
            </div>
          </div>
          <div class="acordion__item">
            <div class="preguntas__frecuentes__acordion__item__title acordion--pitcher"> 
              <h3>¿Cuando me abonaran los puntos multiplicados por 5 de las compras online?</h3><span class="acordion__item__icon icon-17"></span>
            </div>
            <div class="preguntas__frecuentes__acordion__content">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.</p>
            </div>
          </div>
          <div class="acordion__item">
            <div class="preguntas__frecuentes__acordion__item__title acordion--pitcher"> 
              <h3>¿Cuando me abonaran los puntos multiplicados por 5 de las compras online?</h3><span class="acordion__item__icon icon-17"></span>
            </div>
            <div class="preguntas__frecuentes__acordion__content">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
      $(function() { 
      	$('.acordion__item:nth-child(1) .preguntas__frecuentes__acordion__item__title').addClass('active');
      	$('.acordion__item:nth-child(1) .preguntas__frecuentes__acordion__content').addClass('active');
      
      	 $('.acordion--pitcher').click(function(e){
      		e.preventDefault();
      		if ($(this).hasClass('active')) {
      			$(this).removeClass('active').parent().find('.preguntas__frecuentes__acordion__content').stop().slideUp();
      		}else{
      			$('.preguntas__frecuentes__acordion__item__title').removeClass('active');
      			$('.preguntas__frecuentes__acordion__content').stop().slideUp();
      			$(this).addClass('active').parent().find('.preguntas__frecuentes__acordion__content').stop().slideToggle();
      		};
      	 });
      
      
      });
      	
    </script>
  </body>
</html>
