src/pages/productos.pug
extends ./_common/base.pug
//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/select2/select2.min.css`)
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var title = 'productos'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.productos
		.productos__wrap
			.prodructos__bloque
				.productos__filtro
					.productos__title
						h3 FILTROS
					.productos__opciones
						.productos__opcion
							.productos__opcion__select
								select(class="select--select2")
									option(value='volvo') País
									option(value='saab') Saab
									option(value='mercedes') Mercedes
									option(value='audi') Audi
						.productos__opcion
							.productos__opcion__select
								select(class="select--select2")
									option(value='volvo') País
									option(value='saab') Saab
									option(value='mercedes') Mercedes
									option(value='audi') Audi
						.productos__opcion
							.productos__opcion__select
								select(class="select--select2")
									option(value='volvo') País
									option(value='saab') Saab
									option(value='mercedes') Mercedes
									option(value='audi') Audi
						.productos__opcion.productos__opcion--button
							a.btn-orange.btn-filtro(href='') buscar
				.productos__publicidad
					img(src=`${STATIC_URL}img/productos-publicidad.png`)
			.producto__bloque--items
				.productos__banner(style=`background-image: url('${STATIC_URL}img/background-banner.png')`)
					.productos__banner__text
						h2 ¡ELIGE UNA CATEGORÍA Y DISFRUTA!
				.productos__banner__bottom.productos__banner__bottom--responsive(style=`background-image: url('${STATIC_URL}img/productos-publicidad-foot.png')`)
				.productos__filtro.producto__filtro-responsive
					.productos__title
						h3 FILTROS
					.productos__opciones
						.productos__opcion
							.productos__opcion__select
								select(class="select--select2")
									option(value='volvo') País
									option(value='saab') Saab
									option(value='mercedes') Mercedes
									option(value='audi') Audi
						.productos__opcion
							.productos__opcion__select
								select(class="select--select2")
									option(value='volvo') País
									option(value='saab') Saab
									option(value='mercedes') Mercedes
									option(value='audi') Audi
						.productos__opcion
							.productos__opcion__select
								select(class="select--select2")
									option(value='volvo') País
									option(value='saab') Saab
									option(value='mercedes') Mercedes
									option(value='audi') Audi
						.productos__opcion.productos__opcion--button
							a.btn-orange.btn-filtro(href='') buscar
				.productos__orden
					.productos__orden__item.productos__orden__item--title
						h3 ORDENAR POR:
					.productos__orden__item
						a(href="")
							h3 Destacados
					.productos__orden__item
						a(href="")
							h3 Novedades
				.productos__box__items
					.productos__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('../${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//-.promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`../${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.promociones__item__button
										span.btn.btn-white(href='') LIMA - PERÚ
					.productos__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('../${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`../${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.promociones__item__button
										span.btn.btn-white(href='') LIMA - PERÚ
					.productos__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('../${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`../${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.promociones__item__button
										span.btn.btn-white(href='') LIMA - PERÚ
					.productos__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('../${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`../${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.promociones__item__button
										span.btn.btn-white(href='') LIMA - PERÚ
					.productos__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('../${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`../${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.promociones__item__button
										span.btn.btn-white(href='') LIMA - PERÚ
					.productos__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('../${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`../${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.promociones__item__button
										span.btn.btn-white(href='') LIMA - PERÚ
				.productos__items__nav
					ul.productos__box__pager
						li.productos__item__pager.active
							a(href="") 1
						li.productos__item__pager
							a(href="") 2
						li.productos__item__pager
							a(href="") 3
						li.productos__item__pager
							a(href="") 4
						li.productos__item__pager
							a(href="") 5
						li.productos__item__pager.productos__item__pager--next
							a(href="")
								span.icon-20
				.productos__banner__bottom(style=`background-image: url('${STATIC_URL}img/productos-publicidad-foot.png')`)




//- js
append scripts
	script(src=`${STATIC_URL}js/select2/select2.full.js`)
	script.
		$(function() {
			$(".select--select2").select2();
		});

programing/productos.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="./assets/js/select2/select2.min.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>productos</title>
  </head>
  <body class="class">
    <section class="productos">
      <div class="productos__wrap">
        <div class="prodructos__bloque">
          <div class="productos__filtro">
            <div class="productos__title">
              <h3>FILTROS</h3>
            </div>
            <div class="productos__opciones">
              <div class="productos__opcion">
                <div class="productos__opcion__select">
                  <select class="select--select2">
                    <option value="volvo">País</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>
              <div class="productos__opcion">
                <div class="productos__opcion__select">
                  <select class="select--select2">
                    <option value="volvo">País</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>
              <div class="productos__opcion">
                <div class="productos__opcion__select">
                  <select class="select--select2">
                    <option value="volvo">País</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>
              <div class="productos__opcion productos__opcion--button"><a class="btn-orange btn-filtro" href="">buscar</a></div>
            </div>
          </div>
          <div class="productos__publicidad"><img src="./assets/img/productos-publicidad.png"/></div>
        </div>
        <div class="producto__bloque--items">
          <div class="productos__banner" style="background-image: url('./assets/img/background-banner.png');">
            <div class="productos__banner__text">
              <h2>¡ELIGE UNA CATEGORÍA Y DISFRUTA!</h2>
            </div>
          </div>
          <div class="productos__banner__bottom productos__banner__bottom--responsive" style="background-image: url('./assets/img/productos-publicidad-foot.png');"></div>
          <div class="productos__filtro producto__filtro-responsive">
            <div class="productos__title">
              <h3>FILTROS</h3>
            </div>
            <div class="productos__opciones">
              <div class="productos__opcion">
                <div class="productos__opcion__select">
                  <select class="select--select2">
                    <option value="volvo">País</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>
              <div class="productos__opcion">
                <div class="productos__opcion__select">
                  <select class="select--select2">
                    <option value="volvo">País</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>
              <div class="productos__opcion">
                <div class="productos__opcion__select">
                  <select class="select--select2">
                    <option value="volvo">País</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>
              <div class="productos__opcion productos__opcion--button"><a class="btn-orange btn-filtro" href="">buscar</a></div>
            </div>
          </div>
          <div class="productos__orden">
            <div class="productos__orden__item productos__orden__item--title">
              <h3>ORDENAR POR:</h3>
            </div>
            <div class="productos__orden__item"><a href="">
                <h3>Destacados</h3></a></div>
            <div class="productos__orden__item"><a href="">
                <h3>Novedades</h3></a></div>
          </div>
          <div class="productos__box__items">
            <div class="productos__item"><a class="promociones__item" href="#">
                <div class="promociones__item__image" style="background-image: url('.././assets/img/promociones-item.jpg');"></div>
                <div class="promociones__item__content">
                  <div class="promociones__item__discount promociones__item__discount--percentage">
                    <div class="promociones__item__discount__logo"><img src=".././assets/img/item-logo.png" alt=""/></div>
                    <div class="promociones__item__discount__promo">35%</div>
                  </div>
                  <div class="promociones__item__info">
                    <div class="promociones__item__title">
                      <h3>Posadas del inca Yucay</h3>
                    </div>
                    <div class="promociones__item__text">
                      <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                    </div>
                    <div class="promociones__item__button"><span class="btn btn-white" href="">LIMA - PERÚ</span></div>
                  </div>
                </div></a></div>
            <div class="productos__item"><a class="promociones__item" href="#">
                <div class="promociones__item__image" style="background-image: url('.././assets/img/promociones-item.jpg');"></div>
                <div class="promociones__item__content">
                  <div class="promociones__item__discount promociones__item__discount--percentage">
                    <div class="promociones__item__discount__logo"><img src=".././assets/img/item-logo.png" alt=""/></div>
                    <div class="promociones__item__discount__promo">35%</div>
                  </div>
                  <div class="promociones__item__info">
                    <div class="promociones__item__title">
                      <h3>Posadas del inca Yucay</h3>
                    </div>
                    <div class="promociones__item__text">
                      <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                    </div>
                    <div class="promociones__item__button"><span class="btn btn-white" href="">LIMA - PERÚ</span></div>
                  </div>
                </div></a></div>
            <div class="productos__item"><a class="promociones__item" href="#">
                <div class="promociones__item__image" style="background-image: url('.././assets/img/promociones-item.jpg');"></div>
                <div class="promociones__item__content">
                  <div class="promociones__item__discount promociones__item__discount--percentage">
                    <div class="promociones__item__discount__logo"><img src=".././assets/img/item-logo.png" alt=""/></div>
                    <div class="promociones__item__discount__promo">35%</div>
                  </div>
                  <div class="promociones__item__info">
                    <div class="promociones__item__title">
                      <h3>Posadas del inca Yucay</h3>
                    </div>
                    <div class="promociones__item__text">
                      <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                    </div>
                    <div class="promociones__item__button"><span class="btn btn-white" href="">LIMA - PERÚ</span></div>
                  </div>
                </div></a></div>
            <div class="productos__item"><a class="promociones__item" href="#">
                <div class="promociones__item__image" style="background-image: url('.././assets/img/promociones-item.jpg');"></div>
                <div class="promociones__item__content">
                  <div class="promociones__item__discount promociones__item__discount--percentage">
                    <div class="promociones__item__discount__logo"><img src=".././assets/img/item-logo.png" alt=""/></div>
                    <div class="promociones__item__discount__promo">35%</div>
                  </div>
                  <div class="promociones__item__info">
                    <div class="promociones__item__title">
                      <h3>Posadas del inca Yucay</h3>
                    </div>
                    <div class="promociones__item__text">
                      <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                    </div>
                    <div class="promociones__item__button"><span class="btn btn-white" href="">LIMA - PERÚ</span></div>
                  </div>
                </div></a></div>
            <div class="productos__item"><a class="promociones__item" href="#">
                <div class="promociones__item__image" style="background-image: url('.././assets/img/promociones-item.jpg');"></div>
                <div class="promociones__item__content">
                  <div class="promociones__item__discount promociones__item__discount--percentage">
                    <div class="promociones__item__discount__logo"><img src=".././assets/img/item-logo.png" alt=""/></div>
                    <div class="promociones__item__discount__promo">35%</div>
                  </div>
                  <div class="promociones__item__info">
                    <div class="promociones__item__title">
                      <h3>Posadas del inca Yucay</h3>
                    </div>
                    <div class="promociones__item__text">
                      <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                    </div>
                    <div class="promociones__item__button"><span class="btn btn-white" href="">LIMA - PERÚ</span></div>
                  </div>
                </div></a></div>
            <div class="productos__item"><a class="promociones__item" href="#">
                <div class="promociones__item__image" style="background-image: url('.././assets/img/promociones-item.jpg');"></div>
                <div class="promociones__item__content">
                  <div class="promociones__item__discount promociones__item__discount--percentage">
                    <div class="promociones__item__discount__logo"><img src=".././assets/img/item-logo.png" alt=""/></div>
                    <div class="promociones__item__discount__promo">35%</div>
                  </div>
                  <div class="promociones__item__info">
                    <div class="promociones__item__title">
                      <h3>Posadas del inca Yucay</h3>
                    </div>
                    <div class="promociones__item__text">
                      <p>30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.</p>
                    </div>
                    <div class="promociones__item__button"><span class="btn btn-white" href="">LIMA - PERÚ</span></div>
                  </div>
                </div></a></div>
          </div>
          <div class="productos__items__nav">
            <ul class="productos__box__pager">
              <li class="productos__item__pager active"><a href="">1</a></li>
              <li class="productos__item__pager"><a href="">2</a></li>
              <li class="productos__item__pager"><a href="">3</a></li>
              <li class="productos__item__pager"><a href="">4</a></li>
              <li class="productos__item__pager"><a href="">5</a></li>
              <li class="productos__item__pager productos__item__pager--next"><a href=""><span class="icon-20"></span></a></li>
            </ul>
          </div>
          <div class="productos__banner__bottom" style="background-image: url('./assets/img/productos-publicidad-foot.png');"></div>
        </div>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="./assets/js/select2/select2.full.js"></script>
    <script>
      $(function() {
      	$(".select--select2").select2();
      });
    </script>
  </body>
</html>
