src/pages/registra-tu-establecimiento-codigo.pug
extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var title = 'registra tu establecimiento codigo'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.mi-establecimiento(style=`background-image: url('${STATIC_URL}img/img-background-registra-establecimiento.jpg')`)
		.mi-establecimiento__content.registra-tu-establecimiento-codigo--content
			form#afiliate__form__validate
				ul.mi-establecimiento__ul
					li.box
						img.mi-establecimiento__logo(src=`${STATIC_URL}img/img-logo-gp-registra-establecimiento.jpg` alt="")
					li.box
						.titulo-form 
							p.registra-tu-establecimiento-codigo--parrafo
								| Registra tu establecimiento
								strong
									| Ingrese aquí el código recibido.
									span.registra-tu-establecimiento-codigo--display-block Los códigos presentan mayúsculas y minúsculas. 
					li.box.mi-cuenta__ul-content 
						ul
							.input-one-content.input--margin-top.input-one-content--padding-bottom
								//- label.input-two__label Escribe tu código
								input.input-two(name='', type='', placeholder='Escribe tu código' class="validate[required]")
								span
									button.input-two__btn-span.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') verificar
										.btn-general--before
					li.box.activacion__ul
						ul.parrafo-form.registra-tu-establecimiento-codigo--margin-top
							li Si aún no cuentas con un código, afilia tu establecimiento  
								a.activacion--color-orange(href='#') aquí.


//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		});

programing/registra-tu-establecimiento-codigo.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="./assets/js/validationform/validationEngine.jquery.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>registra tu establecimiento codigo</title>
  </head>
  <body class="class">
    <section class="mi-establecimiento" style="background-image: url('./assets/img/img-background-registra-establecimiento.jpg');">
      <div class="mi-establecimiento__content registra-tu-establecimiento-codigo--content">
        <form id="afiliate__form__validate">
          <ul class="mi-establecimiento__ul">
            <li class="box"><img class="mi-establecimiento__logo" src="./assets/img/img-logo-gp-registra-establecimiento.jpg" alt=""/></li>
            <li class="box">
              <div class="titulo-form"> 
                <p class="registra-tu-establecimiento-codigo--parrafo">Registra tu establecimiento<strong>Ingrese aquí el código recibido.<span class="registra-tu-establecimiento-codigo--display-block">Los códigos presentan mayúsculas y minúsculas. </span></strong></p>
              </div>
            </li>
            <li class="box mi-cuenta__ul-content"> 
              <ul>
                <div class="input-one-content input--margin-top input-one-content--padding-bottom">
                  <input class="input-two validate[required]" name="" type="" placeholder="Escribe tu código"/><span>
                    <button class="input-two__btn-span btn-blue btn-general--before--hover-ico btn-general--padding-right" href="">verificar
                      <div class="btn-general--before"></div>
                    </button></span>
                </div>
              </ul>
            </li>
            <li class="box activacion__ul">
              <ul class="parrafo-form registra-tu-establecimiento-codigo--margin-top">
                <li>Si aún no cuentas con un código, afilia tu establecimiento  <a class="activacion--color-orange" href="#">aquí.</a></li>
              </ul>
            </li>
          </ul>
        </form>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine-es.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine.js"></script>
    <script>
      $(function() {
      	$("form").validationEngine('attach', {
      		promptPosition : "topLeft",
      		autoHidePrompt: true,
      		autoHideDelay: 3000,
      		binded: false,
      		scroll: false,
      		validateNonVisibleFields: true
      	});
      	$("#afiliate__form__validate").submit(function(e) {
      		var valid = $(this).validationEngine('validate');
      		if (!valid){
      			return false;
      		}else{
      			return true;
      		};
      	});
      });
    </script>
  </body>
</html>
