src/pages/registra-tu-establecimiento.pug
extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)
//- body classs
block vars
	- var title = 'registra tu establecimiento'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.mi-establecimiento.registra-tu-establecimiento(style=`background-image: url('${STATIC_URL}img/img-background-registra-establecimiento.jpg')`)
		.mi-establecimiento__content
			form#afiliate__form__validate.registra-tu-establecimiento__form-group
				ul.mi-establecimiento__ul
					li.box
						img.mi-establecimiento__logo(src=`${STATIC_URL}img/img-logo-gp-registra-establecimiento.jpg` alt="")
					li.box
						.titulo-form 
							p
								| Registra tu establecimiento
				.box-message--alert
						span.box-message__content.box-message--green.registra-tu-establecimiento--box-message
							.box-message--ico1
							.box-message ¡Tu código es válido! llena el formulario y regístrate.
				ul.registra-tu-establecimiento--ul-one
					li.box.input-one-content.input--margin-top
						label.input-one__label Nombre del establecimiento
						input.input-one(type="", name="", class="validate[required]")
						span.input-one--span2
					li.box.input-one-content.input--margin-top
						label.input-one__label Teléfonos
						input.input-one.soloNumber(type="", name="", class="validate[required]")
						span.input-one--span2
					li.box.input-one-content.input--margin-top
						label.input-one__label Nombre de contacto
						input.input-one(type="", name="", class="validate[required]")
						span.input-one--span2
					li.box.input-one-content.input--margin-top
						label.input-one__label Página web o Facebook
						input.input-one(type="", name="", class="validate[required]")
						span.input-one--span2
					li.box
				ul.registra-tu-establecimiento--ul-two
					li.box.input-one-content.input--margin-top
						label.input-one__label RUC
						input.input-one.soloNumber(type="", name="", class="validate[required]")
						span.input-one--span2
					li.box.input-one-content.input--margin-top
						label.input-one__label E-mail
						input.input-one(type="", name="", class="validate[required]")
						span.input-one--span2
					li.box.input-one-content.input--margin-top
						label.input-one__label Cargo
						input.input-one(type="", name="", class="validate[required]")
						span.input-one--span2
				.mi-establecimiento__botones-group
					ul.mi-establecimiento__ul
						li
							button.btn-general.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') ingresar
								.btn-general--before


//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		});

programing/registra-tu-establecimiento.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="./assets/js/validationform/validationEngine.jquery.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>registra tu establecimiento</title>
  </head>
  <body class="class">
    <section class="mi-establecimiento registra-tu-establecimiento" style="background-image: url('./assets/img/img-background-registra-establecimiento.jpg');">
      <div class="mi-establecimiento__content">
        <form class="registra-tu-establecimiento__form-group" id="afiliate__form__validate">
          <ul class="mi-establecimiento__ul">
            <li class="box"><img class="mi-establecimiento__logo" src="./assets/img/img-logo-gp-registra-establecimiento.jpg" alt=""/></li>
            <li class="box">
              <div class="titulo-form"> 
                <p>Registra tu establecimiento</p>
              </div>
            </li>
          </ul>
          <div class="box-message--alert"><span class="box-message__content box-message--green registra-tu-establecimiento--box-message">
              <div class="box-message--ico1"></div>
              <div class="box-message">¡Tu código es válido! llena el formulario y regístrate.</div></span></div>
          <ul class="registra-tu-establecimiento--ul-one">
            <li class="box input-one-content input--margin-top">
              <label class="input-one__label">Nombre del establecimiento</label>
              <input class="input-one validate[required]" type="" name=""/><span class="input-one--span2"></span>
            </li>
            <li class="box input-one-content input--margin-top">
              <label class="input-one__label">Teléfonos</label>
              <input class="input-one soloNumber validate[required]" type="" name=""/><span class="input-one--span2"></span>
            </li>
            <li class="box input-one-content input--margin-top">
              <label class="input-one__label">Nombre de contacto</label>
              <input class="input-one validate[required]" type="" name=""/><span class="input-one--span2"></span>
            </li>
            <li class="box input-one-content input--margin-top">
              <label class="input-one__label">Página web o Facebook</label>
              <input class="input-one validate[required]" type="" name=""/><span class="input-one--span2"></span>
            </li>
            <li class="box"></li>
          </ul>
          <ul class="registra-tu-establecimiento--ul-two">
            <li class="box input-one-content input--margin-top">
              <label class="input-one__label">RUC</label>
              <input class="input-one soloNumber validate[required]" type="" name=""/><span class="input-one--span2"></span>
            </li>
            <li class="box input-one-content input--margin-top">
              <label class="input-one__label">E-mail</label>
              <input class="input-one validate[required]" type="" name=""/><span class="input-one--span2"></span>
            </li>
            <li class="box input-one-content input--margin-top">
              <label class="input-one__label">Cargo</label>
              <input class="input-one validate[required]" type="" name=""/><span class="input-one--span2"></span>
            </li>
          </ul>
          <div class="mi-establecimiento__botones-group">
            <ul class="mi-establecimiento__ul">
              <li>
                <button class="btn-general btn-blue btn-general--before--hover-ico btn-general--padding-right" href="">ingresar
                  <div class="btn-general--before"></div>
                </button>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine-es.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine.js"></script>
    <script>
      $(function() {
      	$("form").validationEngine('attach', {
      		promptPosition : "topLeft",
      		autoHidePrompt: true,
      		autoHideDelay: 3000,
      		binded: false,
      		scroll: false,
      		validateNonVisibleFields: true
      	});
      	$("#afiliate__form__validate").submit(function(e) {
      		var valid = $(this).validationEngine('validate');
      		if (!valid){
      			return false;
      		}else{
      			return true;
      		};
      	});
      });
    </script>
  </body>
</html>
