programing/restablecer-contasena.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="./assets/js/validationform/validationEngine.jquery.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>restablece tu contraseña</title>
  </head>
  <body class="class">
    <section class="mi-cuenta">
      <div class="mi-cuenta__content">
        <div class="mi-cuenta__img" style="background-image: url('/assets/img/img-girl-form.jpg');"></div>
        <form class="mi-cuenta__form" id="afiliate__form__validate">
          <div class="titulo-form"> 
            <p>Restablecer contraseña<strong>Ingresa la dirección de correo electrónico asociada a tu cuenta para que te enviemos un correo electrónico y puedas restablecer tu contraseña</strong></p>
          </div>
          <div class="mi-cuenta__ul-content mi-cuenta--max-width"> 
            <ul>
              <li class="input-one-content input--margin-top">
                <label class="input-one__label">Dirección de correo electrónico*</label>
                <input class="input-one validate[required]" type="" name=""/><span class="input-one--span"></span>
              </li>
            </ul>
          </div>
          <div class="mi-cuenta__botones-group">
            <ul>
              <li class="mi-cuenta__padding-right"><a class="btn-general btn-white btn-general--after--hover btn-general--padding-left" href="/mi-cuenta.html">volver
                  <div class="btn-general--after"></div></a></li>
              <li>
                <button class="btn-general btn-blue btn-general--before--hover-ico btn-general--padding-right" href="">enviar
                  <div class="btn-general--before"></div>
                </button>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine-es.js"></script>
    <script src="./assets/js/validationform/jquery.validationEngine.js"></script>
    <script>
      $(function() {
      	$("form").validationEngine('attach', {
      		promptPosition : "topLeft",
      		autoHidePrompt: true,
      		autoHideDelay: 3000,
      		binded: false,
      		scroll: false,
      		validateNonVisibleFields: true
      	});
      	$("#afiliate__form__validate").submit(function(e) {
      		var valid = $(this).validationEngine('validate');
      		if (!valid){
      			return false;
      		}else{
      			return true;
      		};
      	});
      });
    </script>
  </body>
</html>

src/pages/restablecer-contasena.pug
extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)


//- body classs
block vars
	- var title = 'restablece tu contraseña'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.mi-cuenta
		.mi-cuenta__content
			.mi-cuenta__img(style="background-image: url('/assets/img/img-girl-form.jpg')")
			form#afiliate__form__validate.mi-cuenta__form
				.titulo-form 
					p
						| Restablecer contraseña
						strong
							| Ingresa la dirección de correo electrónico asociada a tu cuenta para que te enviemos un correo electrónico y puedas restablecer tu contraseña
				.mi-cuenta__ul-content.mi-cuenta--max-width 
					ul
						li.input-one-content.input--margin-top
							label.input-one__label Dirección de correo electrónico*
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
				.mi-cuenta__botones-group
					ul
						li.mi-cuenta__padding-right
							a.btn-general.btn-white.btn-general--after--hover.btn-general--padding-left(href='/mi-cuenta.html') volver
								.btn-general--after
						li
							button.btn-general.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') enviar
								.btn-general--before
						
//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		});
