programing/terminos-condiciones.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>terminos y condiciones</title>
  </head>
  <body class="class">
    <div class="terminos__condiciones">
      <div class="terminos__condiciones__container">
        <div class="terminos__condiciones__title">
          <h3>Términos y condiciones</h3>
        </div>
        <div class="terminos__condiciones__text">
          <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur libero facilis, nostrum, quae, repellat nisi dolores expedita dolorem corrupti asperiores, recusandae quaerat? Blanditiis architecto a veritatis, accusamus reiciendis. Cupiditate, quidem.</p>
        </div>
        <div class="terminos__condiciones__items">
          <div class="terminos__condiciones__item">
            <div class="terminos__condiciones__item__title">
              <h4>VIGENCIA</h4>
            </div>
            <div class="terminos__condiciones__item__text">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quasi sunt ducimus ratione officia nihil nostrum iure deleniti eligendi quibusdam eius, consequuntur non! Fuga impedit officia nostrum omnis quia commodi perspiciatis laudantium doloremque, rem quam sed inventore magni, minima itaque accusantium, sint aliquid velit accusamus autem dolorum pariatur facilis. Sapiente assumenda, quam, recusandae ex minus possimus consequatur doloribus ullam excepturi.</p>
            </div>
          </div>
          <div class="terminos__condiciones__item">
            <div class="terminos__condiciones__item__title">
              <h4>VIGENCIA</h4>
            </div>
            <div class="terminos__condiciones__item__text">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quasi sunt ducimus ratione officia nihil nostrum iure deleniti eligendi quibusdam eius, consequuntur non! Fuga impedit officia nostrum omnis quia commodi perspiciatis laudantium doloremque, rem quam sed inventore magni, minima itaque accusantium, sint aliquid velit accusamus autem dolorum pariatur facilis. Sapiente assumenda, quam, recusandae ex minus possimus consequatur doloribus ullam excepturi.</p>
            </div>
          </div>
          <div class="terminos__condiciones__item">
            <div class="terminos__condiciones__item__title">
              <h4>VIGENCIA</h4>
            </div>
            <div class="terminos__condiciones__item__text">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quasi sunt ducimus ratione officia nihil nostrum iure deleniti eligendi quibusdam eius, consequuntur non! Fuga impedit officia nostrum omnis quia commodi perspiciatis laudantium doloremque, rem quam sed inventore magni, minima itaque accusantium, sint aliquid velit accusamus autem dolorum pariatur facilis. Sapiente assumenda, quam, recusandae ex minus possimus consequatur doloribus ullam excepturi.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
      $(function() { 
      
      
      });
      	
    </script>
  </body>
</html>

src/pages/terminos-condiciones.pug
extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var title = 'terminos y condiciones'
	- var bodyClass = 'class'
//- ---
	
//- Contenido
block content
	.terminos__condiciones
		.terminos__condiciones__container
			.terminos__condiciones__title
				h3 Términos y condiciones
			.terminos__condiciones__text
				p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur libero facilis, nostrum, quae, repellat nisi dolores expedita dolorem corrupti asperiores, recusandae quaerat? Blanditiis architecto a veritatis, accusamus reiciendis. Cupiditate, quidem.
			.terminos__condiciones__items
				.terminos__condiciones__item
					.terminos__condiciones__item__title
						h4 VIGENCIA
					.terminos__condiciones__item__text
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quasi sunt ducimus ratione officia nihil nostrum iure deleniti eligendi quibusdam eius, consequuntur non! Fuga impedit officia nostrum omnis quia commodi perspiciatis laudantium doloremque, rem quam sed inventore magni, minima itaque accusantium, sint aliquid velit accusamus autem dolorum pariatur facilis. Sapiente assumenda, quam, recusandae ex minus possimus consequatur doloribus ullam excepturi.
				.terminos__condiciones__item
					.terminos__condiciones__item__title
						h4 VIGENCIA
					.terminos__condiciones__item__text
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quasi sunt ducimus ratione officia nihil nostrum iure deleniti eligendi quibusdam eius, consequuntur non! Fuga impedit officia nostrum omnis quia commodi perspiciatis laudantium doloremque, rem quam sed inventore magni, minima itaque accusantium, sint aliquid velit accusamus autem dolorum pariatur facilis. Sapiente assumenda, quam, recusandae ex minus possimus consequatur doloribus ullam excepturi.
				.terminos__condiciones__item
					.terminos__condiciones__item__title
						h4 VIGENCIA
					.terminos__condiciones__item__text
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quasi sunt ducimus ratione officia nihil nostrum iure deleniti eligendi quibusdam eius, consequuntur non! Fuga impedit officia nostrum omnis quia commodi perspiciatis laudantium doloremque, rem quam sed inventore magni, minima itaque accusantium, sint aliquid velit accusamus autem dolorum pariatur facilis. Sapiente assumenda, quam, recusandae ex minus possimus consequatur doloribus ullam excepturi.

//- js
append scripts 
	script.
		$(function() { 


		});
			
